/*
====================
version 1
2015 / 7 / 22
>>default img address:"../img/event/anniv/2015/"
====================
*/
body{background-image:none;background-color:#01c3e0;}
#mmBody{background:#01c3e0;padding:44px 0 30px;}
#mmBody .wrapper{max-width:960px;}
/* ========== HEADER str ========== */
#mmEventHeader{
	background:url(http://www.moviemovie.com.tw/img/event/anniv/2015/ticketBg.png) 50% -57px no-repeat;background-size:auto 722px;
	overflow:hidden;
	position:relative;
}
#mmEventHeader img{display:block;}
#mmEventHeader .picTitle{
	display:block;width:74%;height:auto;
	margin:20px auto 5px;
	position:relative;z-index:5;
}
#mmEventHeader .picMainMobi{
	width:90%;height:auto;
	margin:0 5%;
}
#mmEventHeader .picMainPC{display:none;}
#mmEventHeader img,#mmEventHeader div,#mmEventHeader p{position:relative;z-index:1;}
#mmEventHeader div{
	background-color:rgba(1,195,224,.9);border-radius:9px;
	padding:3px;
	position:fixed;right:5px;top:47px;z-index:6;
}
#mmEventHeader div a{
	color:#fff;font-size:12px;text-align:center;padding-top:28px;border-radius:6px;
	background:url(http://www.moviemovie.com.tw/img/event/anniv/2015/icon.png) -40px -100px no-repeat;background-size:162px 144px;
	display:block;width: 41px;height: 50px;
	border:solid 3px rgba(255,255,255,.7);
	float:left;position:relative;
}
#mmEventHeader div a:after{
	content:'';display:block;
	width:100%;height:100%;
	position:absolute;top: 0;left: 0;
}
#mmEventHeader div a:hover:after{background-color:rgba(255,255,255,.1);}
#mmEventHeader div a:hover{text-decoration:none;}
#mmEventHeader div a.fb{
	margin-left:3px;
	background-position:0 -100px;
}
#mmEventHeader p{
	color:#fff;font-size:14px;
	padding:10px 3%;
}
#mmEventHeader p span{
	color:#eee;font-size:12px
}
#mmEventHeader:before{
	content:'';
	background-image:-webkit-linear-gradient(-90deg,rgba(1,195,224,0) 0%,rgba(1,195,224,1) 100%);
	background-image:-moz-linear-gradient(-90deg,rgba(1,195,224,0) 0%,rgba(1,195,224,1) 100%);
	background-image:-ms-linear-gradient(-90deg,rgba(1,195,224,0) 0%,rgba(1,195,224,1) 100%);
	background-image:-o-linear-gradient(-90deg,rgba(1,195,224,0) 0%,rgba(1,195,224,1) 100%);
	background-image:linear-gradient(180deg,rgba(1,195,224,0) 0%,rgba(1,195,224,1) 100%);
	display:block;width: 100%;height: 100px;
	position:absolute;left: 0;bottom: 0;
}
/* ========== HEADER end ========== */
/* ========== ARTICLE str ========== */
#mmEventArticle{margin-top:12px;padding: 0 2%;}
#mmEventArticle > div{
	background-color:#FFE9B5;border-radius:10px;
	width:100%;
	margin-bottom:20px;
	float:left;
}
	#mmEventArticle .giftTitle{
		border-radius:10px 10px 0 0;overflow:hidden;position:relative;
		height:65px;
		padding:8px 0 0 88px;
		position:relative;z-index:2;
	}
	#mmEventArticle .giftTitle:after{
		content:'';background-color:#ff9000;
		display:block;width:150%;height:75px;
		-webkit-transform-origin:100% 100%;-webkit-transform:rotate(1deg);
		-moz-transform-origin:100% 100%;-moz-transform:rotate(1deg);
		-ms-transform-origin:100% 100%;-ms-transform:rotate(1deg);
		-o-transform-origin:100% 100%;-o-transform:rotate(1deg);
		transform-origin:100% 100%;transform:rotate(1deg);
		position:absolute;bottom:0;right:0;
	}
	#mmEventArticle .giftTitle h4,#mmEventArticle .giftTitle span,#mmEventArticle .giftTitle p{
		color:#fff;
		display:inline-block;
		float:left;position:relative;z-index:1;
	}
	#mmEventArticle .giftTitle h4{font-size:18px;font-weight:bold;}
	#mmEventArticle .giftTitle span{
		font-size:12px;color:#ff9000;vertical-align:baseline;
		background-color:#fff;
		line-height:16px;
		padding:0 2px;margin:4px 0 0 5px;
	}
	#mmEventArticle .giftTitle p{
		font-size:20px;font-weight:bold;
		line-height:1;
		clear:both;
	}
	/********/
	#mmEventArticle .giftCont{
		background-color:#fff;color:#843317;font-size:15px;
		width:95%;
		padding:25px 10px 10px;margin:-15px auto 0;
		position:relative;
	}
	#mmEventArticle .giftCont span{
		background-color:#ff9000;color:#fff;
		display:inline;
		padding:0 4px;margin-left:3px;
	}
	#mmEventArticle .giftCont:before{
		content:'';background:url(http://www.moviemovie.com.tw/img/event/anniv/2015/icon.png) 0 0 no-repeat;
		background-size:145px 129px;
		width: 82px;height: 85px;
		position:absolute;top:-64px;left:-6px;z-index:2;
	}
	/********/
	#mmEventArticle .giftDate{
		width:95%;
		margin:0 auto;
	}
	#mmEventArticle .giftDate .wBg{
		background-color:#fff;
	}
	#mmEventArticle .giftDate .wBg img{
		display:inline-block;height:12px;width:auto;
		margin-left:8px;
	}
	#mmEventArticle .giftDate h4,#mmEventArticle .giftDate p{
		font-size:15px;display:inline-block;
	}
	#mmEventArticle .giftDate h4{
		background-color:#ff9000;color:#fff;
		line-height:21px;padding:0 0 0 5px;
	}
	#mmEventArticle .giftDate p{
		text-indent:5px;
		background-color:#fff;color:#843317;
	}
	#mmEventArticle .giftDate > div,#mmEventArticle .giftDate .wBg+.wBg{
		margin-top:8px;
	}
	/******/
	#mmEventArticle .giftLink{
		font-size:0;
		margin-top:15px;
		position:relative;
	}
	#mmEventArticle .giftLink a{
		text-align:center;font-size:23px;font-weight:bold;color:#fff;
		border-radius:10px;
		display:inline-block;line-height:70px;
		position:relative;float:left;
		border-style:solid;
		border-width:4px;
		box-shadow:0 0 0 1px #ECBB23;
		border-top-color:rgba(255,255,255,.9);
		border-left-color:rgba(255,255,255,.9);
		border-right-color:rgba(0,0,0,.4);
		border-bottom-color:rgba(0,0,0,.4);
	}
	#mmEventArticle .giftLink a:hover{text-decoration:none;}
	#mmEventArticle div:last-child .giftLink a{box-shadow:0 0 0 1px #789E11;}
	#mmEventArticle .giftLink a img{
		vertical-align:middle;
		display:inline-block;width: 25px;height: 25px;
		margin:0 -5px 7px 5px;
	}
	/**/
	#mmEventArticle .giftLink a.on{
		background:#ff4e00;
		width:56%;
		margin:0 2% 10px 2%;
	}
	#mmEventArticle .giftLink a.on:hover{background-color:#FF3A00;}
	/**/
	#mmEventArticle div:last-child .giftLink a.on{background-color:#032247;}
	#mmEventArticle div:last-child .giftLink a.on:hover{background-color:#01162F;}
	/**/
	#mmEventArticle .giftLink a.off{
		background-color:#ddd;cursor:default;
		width:38%;
		margin:0 2% 10px 0 0;
		border-top-color:rgba(255,255,255,.4);
		border-left-color:rgba(255,255,255,.4);
		border-right-color:rgba(0,0,0,.1);
		border-bottom-color:rgba(0,0,0,.1);
	}
	/**/
	#mmEventArticle .giftLink a.reward{width:96%;}
	#mmEventArticle .giftLink a.off.reward{margin:0 2% 2% 2%;}
	/****/
	#mmEventArticle > div:last-child{background-color:#addd2a;}
	#mmEventArticle div:last-child .giftCont:before{
		background-position:-82px 0;left:2px;
	}
	#mmEventArticle div:last-child .giftTitle:after,
	#mmEventArticle div:last-child .giftCont span,
	#mmEventArticle div:last-child .giftDate h4{background-color:#032247;}
	#mmEventArticle div:last-child .giftTitle span,
	#mmEventArticle div:last-child .giftCont,
	#mmEventArticle div:last-child .giftDate p{color:#032247;}
	#mmEventArticle div:last-child .giftLink a.on{background-position:0 -150px;}
	#mmEventArticle div:last-child .giftTitle{padding-left:83px;}
/* ========== ARTICLE end ========== */
/* ========== FB str ==========*/
#mmEventFB{
	overflow:hidden;border-radius: 10px;
	width: 96%;border:dotted 3px #fff;
	margin: 0 2% 30px;
	clear:both;
}
/*#mmEventFB .box,#mmEventFB > a{display:table-cell;vertical-align:middle}*/
#mmEventFB .box{
	background: url(http://www.moviemovie.com.tw/img/event/anniv/2015/icon.png) -114px -94px no-repeat;background-size:145px 129px;
	padding:10px;
}
#mmEventFB h4,#mmEventFB span{color:#fff;display:inline-block;}
#mmEventFB h4{
	font-size:23px;font-weight:bold;text-indent:25px;
	width:145px;
	line-height: 30px;margin-right:8px;
}
#mmEventFB span{
	font-size: 15px;vertical-align:top;
	line-height: 1.7;
}
#mmEventFB .fb_iframe_widget{
	bottom:3px;
}
#mmEventFB .btn{
	background-color: #1783e5;border-radius:3px;color:#fff;font-size:12px;
	display:inline-block;line-height:20px;
	padding:0 5px;
	position:relative;
	bottom: 2px;
}
#mmEventFB .btn:hover{
	text-decoration:none;background-color:#0E6ABD;
}
/* ========== FB end ==========*/
@media screen and (max-width:440px){
	#mmEventArticle .giftLink a{font-size:17px;}
}
@media screen and (min-width:400px){
	#mmEventArticle{padding:0;}
	#mmEventFB{margin: 0 0 30px;width:100%;}
}
@media screen and (min-width:470px){
	#mmEventHeader{background-size:auto 872px;background-position:50% -65px;}
}
@media screen and (min-width:540px) and (max-width:659px){
	#mmEventArticle .giftDate > div{display:table;width:100%;}
	#mmEventArticle .giftDate > div .wBg{display:table-cell;}
	#mmEventArticle .giftDate > div .wBg:first-child{width:290px;}
}
@media screen and (min-width:660px){
	/* ========== HEADER str ========== */
	#mmEventHeader{
		background-size:100% auto;background-position:0 -28px;
	}
	#mmEventHeader .picTitle,#mmEventHeader .picMainMobi{display:none;}
	#mmEventHeader .picMainPC{
		width:80%;max-width:790px;
		display:block;
		margin:20px auto 56px;
	}
	#mmEventHeader p{
		text-indent:40px;width:41%;padding:0;
		position:absolute;right:0;bottom:10px;
	}
	/* ========== HEADER end ========== */
	/* ========== ARTICLE str ========== */
	#mmEventArticle > div{width:49%;margin-right:1%;}
	#mmEventArticle > div:last-child{margin:0 0 0 1%;}
	#mmEventArticle .giftCont{height:95px;}
	#mmEventArticle > div:last-child .giftLink{margin-top:44px;}
	/* ========== ARTICLE end ========== */
}
@media screen and (min-width:810px){
	#mmEventHeader .picMainPC{margin-bottom:26px;}
}
@media screen and (max-width:830px) and (min-width:660px){
	#mmEventArticle .giftLink a{font-size:17px;}
}


@media screen and (min-width:950px){
	#mmEventHeader div{position:absolute;right:10px;top:10px;}
	#mmEventArticle > div:last-child .giftLink{margin-top:15px;}
	#mmEventArticle .giftCont{height:auto;}
	#mmEventArticle .giftDate > div{display:table;width:100%;}
	#mmEventArticle .giftDate > div .wBg{display:table-cell;}
	#mmEventArticle .giftDate > div .wBg:first-child{width:256px;}
}