/*===== 2016 / 4 / 15 ======*/
.ca_sky{
	border-radius:10px;
	background-color:#444;
	display:block;height:50px;
	position:relative;
}
@media screen and (max-width:470px){#mmForum .ca_sky{display:none;}}
.ca_sky:hover{text-decoration: none;}
.ca_sky.captain{background-color:#073256;}
.ca_sky.ironMan{background-color:#701111;}
.ca_sky:before,.ca_sky:after{
	content:"";
	display:block;
	position:absolute;
}
.ca_sky:before{border-radius:10px;height:100%;width:45%;top: 0;}
.ca_sky.captain:before{background: linear-gradient(to right, rgba(41,156,213,1) , rgba(41,156,213,0));left:0;}
.ca_sky.ironMan:before{background: linear-gradient(to left, rgba(245,97,115,1) , rgba(245,97,115,0));right: 0;}
.ca_sky:after{
	border-style:solid;border-radius:10px;
	border-width:3px;
	border-color:#7c7c7c #000 #000 #7c7c7c;
	top: 0;right: 0;bottom: 0;left: 0;
}
.ca_sky.captain:after{border-color:#045287 #000 #000 #045287;}
.ca_sky.ironMan:after{border-color:#910000 #000 #000 #910000;}

.ca_sky h6{
	color:#fff;text-align:center;font-size:16px;font-weight:normal;
	line-height:1;
	padding:6px 0 2px;line-height: 16px;
	position:relative;z-index:1;
}
@media screen and (min-width:471px) and (max-width:550px){.ca_sky h6{font-size:12px;}}
/************/
.caBar{
	height:20px;width: 100%;
	padding:0 20px;
	position:relative;z-index;
}
/**/
.caBar span{
	display:block;height:100%;
	float:left;
}
.caBar span:nth-child(1){
	text-align:left;
	background-color:#0064f4;
}
.caBar span:nth-child(2){
	text-align:right;
	background-color:#f2261c;
}
/**/
.caBar i{
	display:block;height:100%;width:30%;
	position:absolute;top: 0;
}
.caBar i:nth-child(3){
	background: linear-gradient(to right, rgba(0,0,0,1) , rgba(0,0,0,0));
	left: 20px;
}
.caBar i:nth-child(4){
	background: linear-gradient(to left, rgba(0,0,0,1) , rgba(0,0,0,0));
	right: 20px;
}
/**/
.caBar p{
	color:#fff;font-size:12px;
	line-height:1;
	position:absolute;top: 5px;
}
.caBar p:nth-child(5){left: 43px;}
.caBar p:nth-child(6){right: 37px;}
/**/
.caBar:after,.caBar:before{
	content:"";
	background-image:url(../img/event/captainAmerican/2016/ca.png);
	background-size:110px 167px;
	display:block;
	position:absolute;z-index: 2;
}
.caBar:before{
	background-position:-49px -80px;
	width: 33px;height: 33px;
	left: 5px;top: -12px;
}
.caBar:after{
	background-position:-35px -17px;
	width: 26px;height: 33px;
	right: 6px;top: -11px;
}
/************/
.ca_336.news{
	width: 336px;
	position:absolute;top: 0;right: 0;
}
.ca_336{
	background-image:url(../img/event/captainAmerican/2016/fog_336.png);
	background-size:338px 282px;
	background-color:#444;
	height:280px;
	padding-top:38px;margin-bottom:12px;
}
.ca_336.captain{background-color:#073256;}
.ca_336.ironMan{background-color:#701111;}
/**/
h6.caTitle{
	background-image:url(../img/event/captainAmerican/2016/ca.png);
	background-size:220px 325px;
	background-position:0 -231px;
	width: 220px;height: 85px;
	margin:0 auto 17px;
}
/**/
.ca_336 .caBar:before,.ca_336 .caBar:after{
	background-image:url(../img/event/captainAmerican/2016/ca.png);
	background-size:440px 650px;
	transform: scale(.5);
}
.ca_336 .caBar:before{
	background-position:-175px -205px;
	width: 175px;height: 257px;
	left: -45px;top: -135px;
}
.ca_336 .caBar:after{
	background-position:-124px 0;
	width: 127px;height: 205px;
	right: -27px;top: -104px;
}
.ca_336.captain .caBar:before{background-position:-6px -205px;}
.ca_336.ironMan .caBar:after{background-position:0 0;}
/**/
.ca_336 .caBar{padding:0 55px;}
.ca_336 .caBar i:nth-child(3){left:40px;}
.ca_336 .caBar i:nth-child(4){right:40px;}
.ca_336 .caBar p:nth-child(5){left:80px;}
.ca_336 .caBar p:nth-child(6){right:65px;}
/**/
.caBtn{padding:34px 15px 0;overflow:hidden;height:78px;}
.caBtn a{
	border:solid 2px #fff!important;border-radius:10px;
	color:#fff;font-size:15px;text-align:center;
	display:block;line-height:40px;width: 110px;
	padding:0 15px!important;
	position:relative;
}
.caBtn a:hover{text-decoration: none;}
.caBtn a.on{
	cursor:default;
}
.caBtn a.on:after{
	content:"";
	background-image:url(../img/event/captainAmerican/2016/ca.png);
	background-size:440px 650px;
	display:block;width: 51px;height: 43px;
	position:absolute;left:25px;top:0;
}
.caBtn a.on:first-child:after{background-position:-389px 0;}
.caBtn a.on:nth-child(2):after{background-position:-389px -43px;}
/**/
.caBtn a:first-child{background-color:#0064f4;float:left;}
.caBtn a:first-child:hover{background-color:#0555a5;}
.caBtn a:nth-child(2){background-color:#f2261c;float:right;}
.caBtn a:nth-child(2):hover{background-color:#ce1717;}
.caBtn a.on:first-child{background-color:#0064f4;}
.caBtn a.on:nth-child(2){background-color:#f2261c;}
/**/
.ca_336 > a{
	border:none!important;
	font-size:15px;text-align:right;color:#000;
	display:inline-block;width:336px!important;line-height:40px;
	padding-right:15px;
	clear:both;
}
.ca_336 > a:hover{text-decoration: underline!important;}
/**/
.FBFB{
	color:#fff;font-size:13px;
	margin-top:10px;margin-bottom:-10px;
}
@media screen and (max-width:471px){.FBFB{margin-left:8px;}}
@media screen and (min-width:1001px){
	.ca_336.news+#mmNewsHot{top:292px;position:absolute;right:0;}
}
@media screen and (max-width:1000px){.ca_336{display:none!important;}}
/************/
/************/
body.ca2016,html.ca2016{
	background-color:#444;background-image:none;
	/*position:fixed;top: 0;right: 0;bottom: 0;left: 0;margin:auto;overflow:auto;*/
}
body.ca2016.captain,html.ca2016.captain{background-color:#073256;}
body.ca2016.ironMan,html.ca2016.ironMan{background-color:#701111;}
body.ca2016 #mmBody{padding-top:43px;}
#mmBody.ca2016 .wrapper{
	background:url(../img/event/captainAmerican/2016/fog_event.png) 0 0 repeat-x;
	max-width:610px;
}
.ca2016 .wrapper > img{width:100%;position:relative;z-index:10;}
.ca2016 .caBar:after,.ca2016 .caBar:before{
	background-image:url(../img/event/captainAmerican/2016/ca.png);
	background-size:440px 650px;
}
.ca2016 .caBar:before{
	background-position:-175px -205px;
	width: 175px;height: 257px;
	left: -11px;top: -156px;
}
.ca2016 .caBar:after{
	background-position:-124px 0;
	width: 127px;height: 205px;
	right:-5px;top: -110px;
}
.ca2016.captain .caBar:before{background-position:-6px -205px;}
.ca2016.ironMan .caBar:after{background-position:0 0;}
/**/
.ca2016 .caBar{padding:0 55px 0 73px;}
.ca2016 .caBar i:nth-child(3){left:40px;}
.ca2016 .caBar i:nth-child(4){right:40px;}
.ca2016 .caBar p:nth-child(5){left:80px;}
.ca2016 .caBar p:nth-child(6){right:65px;}
/**/
.caMsg{margin:17px 0 0;}
.caMsg h4{
	color:#fff;font-size:20px;
	margin:10px 0 3px;
}
.caMsg .AA,.caMsg .BB div,.caMsg ul{
	background-color:#fff;
	padding:10px;
}
.caMsg .AA,.caMsg .BB div,.caMsg li{
	font-size:14px;color:#000;
}
.caMsg ul{
	list-style-type:disc;
	padding-left:30px;
}
.caMsg li{margin-bottom:5px;line-height: 1.3;}
.caMsg li:last-child{margin-bottom:0;}
/**/
.caMsg .BB{position:relative;margin-top:10px;}
.caMsg .BB h4{width:100px;margin-top:7px;position:absolute;left: 0;top: 0;}
.caMsg .BB div{margin-left:105px;}
@media screen and (max-width:470px){
	.caMsg{width: 96%;margin:0 2%;}
}
@media screen and (max-width:500px){
	.ca2016 .caBar:after,.ca2016 .caBar:before{transform: scale(.5);}
	.ca2016 .caBar:before{left: -45px;top: -135px;}
	.ca2016 .caBar:after{right: -27px;top: -104px;}	
}
@media screen and (min-width:501px){
	.ca2016 .caBar{height:35px;}
	.ca2016 .caBar{padding:0 101px 0 134px;}
	.ca2016 .caBar i:nth-child(3){left:56px;}
	.ca2016 .caBar i:nth-child(4){right:56px;}
	.ca2016 .caBar p{line-height: 26px;font-size:23px;}
	.ca2016 .caBar p:nth-child(5){left:147px;}
	.ca2016 .caBar p:nth-child(6){right:117px;}
	/**/
	.ca2016 .caBtn{padding:18px 107px 0 133px;}
}

@media screen and (min-width:1001px){.mmADsky.ca{display:none;}}
@media screen and (max-width:1000px){.mmADsky.ca{display:block;}}
#eventLogo{
	background:url(../img/event/vote/2016/column.png) -103px -169px no-repeat;
	background-size:587px 450px;
	width: 278px;height: 52px;
	margin:0 auto 20px;
	position:relative;
}
#eventLogo > *{
	font-size:12px;color:#fff;
	position:absolute;
}
#eventLogo h6{left:150px;}
/**/
#mmBody.ca2016 .wrapper{position:relative;}
#shareBox{right: 10px;top: 8px;z-index:988;}
#shareBox div a{
	border-radius:7px;
	background-color:#fff;
	width:33px;height:32px;
}