/*FOR ALL*/
.wrapper{width:970px;}
.wrapper h1{color:#ffffff;width:100%;line-height:50px;text-align:center;font-size:21px;background-color:#3092ca;margin-bottom:7px;}
.mmMain{background-color:#ffffff;padding:70px 20%;line-height:2;overflow:hidden;border-bottom:2px solid #cccccc;margin-bottom:7px;}
.mmMain input{border:solid 1px #555555;float:left;line-height:17px;height:30px;text-indent:10px;width:100%;}
.mmMain h4{margin-bottom:15px;font-weight:normal}
/*LL RR*/
.mmMain .LL,.mmMain .RR{float:left;width:100%;margin-bottom:15px;}
.mmMain .alert{width:100%;background-color:#f1f1f1;color:#ff0000;font-size:11px;line-height:25px;text-indent:10px;}
/*RR*/
.mmMain .RR{position:relative;}
.mmMain .RR input{width:98%;border-right:0;}
.mmMain .RR img{position:absolute;right:30px;width:120px;height:30px;border:solid 1px #515151;}
.mmMain .RR a{position:absolute;right:0;display:block;background:#3092ca url(../../img/mmImgMain.png) -594px -2px no-repeat;background-size:900px 500px;border-radius:0 2px 2px 0;width:30px;height:30px;}
.mmMain .RR a:hover{background-color:#2b6f99;}
/**/
.mmMain .send{clear:both;float:right;margin-top:10px;}
/*MEDIA QUERIES*/
@media screen and (max-width:1000px){
	#mmBody .emailist{margin-top:50px!important;}
	.wrapper{width:100%;}
	/*827add*/
	.mmMain .orange{font-size:19px;padding:0 10px;line-height:50px;}
	.mmMain input{font-size:17px;height:50px;line-height:17px;}
	.mmMain .alert{line-height:35px;font-size:15px;text-align:10px;}
	.mmMain .RR img{right:40px;width:150px;height:50px;}
	.mmMain .RR a{width:40px;height:50px;background-position:-590px 8px;}
}
@media screen and (max-width:660px){
/*LL RR*/
.mmMain .LL,.mmMain .RR{float:left;width:100%;}
/*LL*/
.mmMain .LL{margin-right:0;}
/*.mmMain .send{margin:0;}*/
.mmMain .send{width:100%;text-align:center;}
.mmMain{padding:18px;}
}
@media screen and (max-width:400px){
	.mmMain .RR img{width:110px;height:50px;}
}