/*ZIP
====================
version 1.1  : add-- zip only
2016 / 4 / 28 fix MQ in 2016 / 5 / 16
====================
*/
#mmMain{width:970px;float:left;}
#mmMain h5,#mmSub h4{
	font-size:19px;font-weight:normal;
	margin-top:20px;
}
#mainMM h5{margin:0;}
#mmMain > div > h5:first-child{margin:0;}
#mmMain > div{
	border-bottom:solid 2px #ccc;
	background-color:#fff;
	margin-bottom:15px;padding:20px;
}
/*==========*/
#mmMain #mdbTitle{
	border:none;border-radius:5px 5px 0 0;
	padding:8px 20px 5px;margin-bottom:2px;
}
#mdbTitle h1{
	font-size:32px;color:#000;
	display:inline;
	padding-right:5px;
}
#mdbTitle div span{
	font-size:12px;color:#575757;
	display:inline;
}
/**/
#mdbTitle h2{
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
	font-size:14px;color:#777;font-weight:normal;text-indent:3px;
	padding-right:166px;
}
#mdbTitle > span{
	background-color:#F5F5F5;
	font-size:16px;color:#515151;text-align:center;
	display:block;width:156px;
	padding:0 15px;
	position:absolute;right: 6px;bottom: 5px;
}
#mdbTitle > span.soon{background-color:#ff4e00;color:#fff;}
/*==========*/
div#mdbMain{padding-bottom:12px;padding-top:12px;}
/******/
#mainBread{font-size:0;padding-bottom: 10px;margin-right:75px;}
#mainBread p{
	border-right:solid 1px #dadada;
	font-size:12px;
	display:inline;
	padding-right:5px;margin-right:5px;
}
#mainBread p:last-child{border:none;}
/******/
#mainIntrol{
	background-color:#f5f5f5;color:#222;
	overflow:hidden;
	width:100%;/*((1))*//* FOR TWO TYPE >> width = default(from UI - padding...){pure html+css} ;*/
	height:326px;/*(3)*//* = poster.height(from width+auto) */
	/*((2))*//* or height = width x 0.34{js} */
	margin-bottom:10px;
	position:relative;
}
	#mainIntrol >img{
		width:220px;
		height:auto;/*(1)*/
		/*((3))*//* or height = #mainIntrol.width{js} ; width = auto{css} */
		float:left;
		position:relative;z-index:20;
		/*position:absolute;top:0px;*/
	}
	#mainIntrol .introBox{
		margin-left:220px;/*(2)*/
		/*((4))*//* or = img.width{js} ()*/
		/*position:absolute;top: 0px;*/
	}
	#mainIntrol > a{
		background-color:#f5f5f5;
		color:#3092ca;text-decoration:none;
		display:block;
		padding-left:15px;
		position:absolute;right:22px;bottom:18px;
	}
	#mainIntrol > a:hover{color:#ff9000;}
		
		#mainIntrol .introBox > p{
			line-height:1.8;
			padding:0 22px 22px;
		}
	#mainIntrol:after{
		content:'';background-color:#f5f5f5;
		display:block;height:15px;width: 100%;
		position:absolute;bottom:0;
	}
#mainIntrol .introBox > p,#mainIntrol > a{font-size:15px;}
/**/
/*#mainIntrol .introBox > #introRate*/
#introRate{height:68px;padding:20px 0 0 23px;}
#introRate > div,#introRate > a{float:left;}
	/********* v rateMM v **********/
	#rateMM{
		padding:0 4px 0 44px;margin-right:4px;
		position:relative;
	}
		/* v mobi v*/
		#rateMM > span{
			text-indent:0;font-size:15px;text-align:center;color:#000;font-weight:bold;
			background-image:url(../img/fourm.png);background-size:1000px 500px;
			display:inline-block;width:42px;height:40px;line-height:44px;
			position:absolute;left: 0;
		}
		span.rate0{background-position:-922px -400px;}
		span.rate1{background-position:-508px -400px;}
		span.rate2{background-position:-549px -400px;}
		span.rate3{background-position:-590px -400px;}
		span.rate4{background-position:-631px -400px;}
		span.rate5{background-position:-672px -400px;}
		span.rate6{background-position:-713px -400px;}
		span.rate7{background-position:-754px -400px;}
		span.rate8{background-position:-795px -400px;}
		span.rate9{background-position:-836px -400px;}
		span.rate10{background-position:-877px -400px;}
		/* ^ mobi ^v pc v */
		#rateMM > span.PC{background-size:3000px 1500px;}
		span.PC.rate0{background-position:-1940px -1320px;}
		span.PC.rate1{background-position:-1524px -1320px;}
		span.PC.rate2{background-position:-1565px -1320px;}
		span.PC.rate3{background-position:-1607px -1320px;}
		span.PC.rate4{background-position:-1649px -1320px;}
		span.PC.rate5{background-position:-1690px -1320px;}
		span.PC.rate6{background-position:-1732px -1320px;}
		span.PC.rate7{background-position:-1774px -1320px;}
		span.PC.rate8{background-position:-1815px -1320px;}
		span.PC.rate9{background-position:-1857px -1320px;}
		span.PC.rate10{background-position:-1899px -1320px;}
		/* ^ pc ^ */
		#rateMM:after{
			content:"";background-color:#ddd;
			display:block;width: 1px;height: 25px;
			position:absolute;right:0;top:10px;
		}
		#rateMM h6{
			font-size:17px;color:#ff9000;
			line-height:17px;
			margin-top:6px;
		}
		#rateMM p{
			font-size:12px;color:#ff9000;
			line-height:18px;
		}
	/********* ^ rateMM ^v rateArea v **********/
	.rateArea{
		font-size:0;
		width:180px;
		padding-top:20px;
		position:relative;
	}
		.rateArea > *{float:left;}
			.rateBox{
				font-size:0;
				background:-webkit-linear-gradient(0deg,#8c8c8c,#d9d9d9);background:-moz-linear-gradient(0deg,#8c8c8c,#d9d9d9);
				background:-ms-linear-gradient(0deg,#8c8c8c,#d9d9d9);background:-o-linear-gradient(0deg,#8c8c8c,#d9d9d9);
				background:linear-gradient(0deg,#8c8c8c,#d9d9d9);
				width: 116px;
				position:relative;float:left;z-index:1;
			}
			.rateBox li{
				display:inline-block;
				width:10px;
				position:relative;z-index:3;float:left;
			}
			.rateBox li:nth-child(even),.rateBox div:nth-child(even){width:14px;padding-right:4px;}
			.rateBox li:nth-last-child(3),.rateBox div:last-child{width:10px;padding-right:0;}
			.rateBox a{display:block;height:19px;width: 10px;}
			/**/
			.rateBox li:last-child,.rateBox li:nth-last-child(2){
				font-size:0;
				width:100%;height:19px;
				padding-right:0;
				position:absolute;left:0;top:0;z-index:1;
			}
			.rateBox li:nth-last-child(2){
				width:100%;height:100%;
				z-index:2;
			}
			/**/
			.rateBox div{
				display:inline-block;width:10px;height:19px;
				float:left;
			}
			/**/
			.rateBox li:nth-child(-n+10):hover ~ li:last-child div{background-color:transparent;}
			/**/
			.rateBox li:nth-child(1):hover ~ li:last-child div:nth-child(-n+1),
			.rateBox li:nth-child(2):hover ~ li:last-child div:nth-child(-n+2),
			.rateBox li:nth-child(3):hover ~ li:last-child div:nth-child(-n+3),
			.rateBox li:nth-child(4):hover ~ li:last-child div:nth-child(-n+4),
			.rateBox li:nth-child(5):hover ~ li:last-child div:nth-child(-n+5),
			.rateBox li:nth-child(6):hover ~ li:last-child div:nth-child(-n+6),
			.rateBox li:nth-child(7):hover ~ li:last-child div:nth-child(-n+7),
			.rateBox li:nth-child(8):hover ~ li:last-child div:nth-child(-n+8),
			.rateBox li:nth-child(9):hover ~ li:last-child div:nth-child(-n+9),
			.rateBox li:nth-child(10):hover ~ li:last-child div{background-color:#fc0;}
			/**/
			.rate1 li:last-child div:nth-child(-n+1),
			.rate2 li:last-child div:nth-child(-n+2),
			.rate3 li:last-child div:nth-child(-n+3),
			.rate4 li:last-child div:nth-child(-n+4),
			.rate5 li:last-child div:nth-child(-n+5),
			.rate6 li:last-child div:nth-child(-n+6),
			.rate7 li:last-child div:nth-child(-n+7),
			.rate8 li:last-child div:nth-child(-n+8),
			.rate9 li:last-child div:nth-child(-n+9),
			.rate10 li:last-child div{background-color:#fc0;}
			/**/
			.rateBox.rate0{
				-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;
				transition:all .5s;
				opacity:0;
			}
			.rateBox.rate0:hover{
				-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;
				transition:all .5s;
				opacity:1;
			}
		/* v h6 v */
		.rateArea h6{
			font-size:15px;color:#222;
			padding-left:5px;margin:0;
			float:left;
		}
		.rateArea h6 a{
			background-color:#222;
			border-radius:5px;
			font-size:12px;font-weight:normal;color:#fff;text-align:center;vertical-align:2px;
			display:inline-block;width:10px;line-height:10px;height:10px;
			margin-left:3px;
		}
		.rateArea h6 a:hover{background-color:#ff4e00;}
		.rateArea .rateBox.rate0 + h6{/*<<<*/
			display:block;
			position:relative;left:-80px;opacity:0;
			-webkit-transition:all 0s 0s;-moz-transition:all 0s 0s;-ms-transition:all 0s 0s;-o-transition:all 0s 0s;
			transition:all 0s 0s;
		}
		.rateArea .rateBox:hover + h6{/*<<<*/
			-webkit-transition:all .1s .2s cubic-bezier(.37,.45,.99,1.16);-moz-transition:all .1s .2s cubic-bezier(.37,.45,.99,1.16);-ms-transition:all .1s .2s cubic-bezier(.37,.45,.99,1.16);-o-transition:all .1s .2s cubic-bezier(.37,.45,.99,1.16);
			transition:all .1s .2s cubic-bezier(.37,.45,.99,1.16);
			left:0;opacity:1;
		}
		.rateArea .rateBox.rate0:hover + h6 a{display:none;}
		/* ^ h5 ^v span v */
		.rateArea span{position:absolute;top:4px;left:0;}
		.rateArea span:after{
			content:"請評分";
			color:#222;font-size:12px;
			display:block;
		}
		.rateArea .rate1 ~ span:after,.rateArea .rate2 ~ span:after,.rateArea .rate3 ~ span:after,.rateArea .rate4 ~ span:after,.rateArea .rate5 ~ span:after,
		.rateArea .rate6 ~ span:after,.rateArea .rate7 ~ span:after,.rateArea .rate8 ~ span:after,.rateArea .rate9 ~ span:after,.rateArea .rate10 ~ span:after{
			content:"您的給分";
		}
		/* ^ span ^v img v */
		.rateArea > img{
			width:116px;height:20px;
			position:absolute;
			left:0;top:20px;
		}
		/* ^ img ^ */
	/********* ^ rateArea ^v a#btnRate v **********/
	#btnRate{
		font-size:0;
		width:65px;height:40px;overflow:hidden;
		padding-top:;
		position:relative;
	}
	#btnRate select{
		outline:none;border:none;
		background-color:transparent;
		color:transparent;
		display:block;width:90px;height:100%;
		position:absolute;left: 0;top: 0;
	}
	#btnRate p{
		font-size:12px;
		display:inline-block;line-height:46px;
		margin-right:3px;
	}
	#btnRate span{
		background:url(../img/fourm.png) -247px -400px no-repeat;background-size:1000px 500px;
		font-size:12px;text-align:center;color:#000;font-weight:bold;
		display:inline-block;width: 26px;height: 26px;line-height:30px;
	}
	#btnRate span.rate1{background-position: -247px -400px;}
	#btnRate span.rate2{background-position: -273px -400px;}
	#btnRate span.rate3{background-position: -299px -400px;}
	#btnRate span.rate4{background-position: -325px -400px;}
	#btnRate span.rate5{background-position: -351px -400px;}
	#btnRate span.rate6{background-position: -377px -400px;}
	#btnRate span.rate7{background-position: -403px -400px;}
	#btnRate span.rate8{background-position: -429px -400px;}
	#btnRate span.rate9{background-position: -455px -400px;}
	#btnRate span.rate10{background-position: -481px -400px;}
	/**/
	#btnRate div{
		border-radius:5px;
		color:#fff;font-size:15px;
		display:block;line-height:39px;
		padding-left:29px;margin-top:;
		background:#ff9000 url(../img/fourm.png) -311px -438px;background-size:1000px 500px;
	}
	/********* ^ a#btnRate ^v a.btnUnRate v **********/
	.btnUnRate:hover{
		text-decoration:none;
		background-color:#ff4e00;
	}
	/* ^ btnUnRate ^ */
/**********/
.freeTicket{
	border-radius:5px;
	background-color:#ff9000;
	text-align:center;
	display:block;min-height:35px;width: 100%;
	margin-bottom:8px;padding:7px 10px;
}
.freeTicket:hover{
	text-decoration: none;
	background-color:#ff4e00;
}
.freeTicket span{
	font-size:15px;color:#fff;
}
/**********/
#mainMM{
	overflow:hidden;/*為了讓介面有實體高推出區塊*/
}
#mainMM > div{
	max-width:49%;
	margin-right:2%;
	float:left;
	position:relative;
}
#mainMM > div:last-child{margin:0;}
#mainMM > div > a{
	border-left: 1px solid rgba(255,255,255,.4);
	color:#fff;text-align:center;font-size:28px;letter-spacing: -2px;
	background-color:rgba(0,0,0,.7);
	display:block;
	line-height:80px;/*||*/
	width:65px;
	padding-right:4px;
	position:absolute;right:0;
}
#mainMM > div > a:hover{text-decoration:none;background-color:rgba(0,0,0,1);}
/**/
#mainMM > div > div{
	background-color:#f5f5f5;
	max-width:100%;float:left;/*此兩屬性:當影片/劇照所擴ul寬度不達總寬一半時，使退讓空間給另一塊*/
	overflow:hidden;/*處理寬度；為了隱藏被li擴寬而突出的ul*/
	height:88px;/*||80+8為了讓iScroll生成的scroll不壓到影片說明文字*/
	position:relative;/*為了套iScroll後生出的div bar的定位正確*/
}
#mainMM >div > div:before{/*||遮蔽+8的底色*/
	content:"";background-color:#fff;
	display:block;width: 100%;height: 8px;
	position:absolute;bottom: 0;
}
#mainMM ul{
	width:850px;/* (影片限高80所對映寬143+右間距1) x html有5組 - 最後一元素不用的間距1 << 應用js處理 */
	overflow:hidden;
}
#mainMM li{
	font-size:0;
	margin-right:3px;
	float:left;position:relative;
}
#mainMM li.more a{
	background-color:rgba(0,0,0,.7);
	font-size:24px;color:#fff;text-align:center;
	display:block;line-height:80px;width:50px;
	padding-right:3px;
}
#mainMM li.more a:hover{text-decoration:none;}
#mainMM li a img{width:auto;height:80px;}/*||*/
/*==========*/
/**/
#mmMV li a span{
	background:rgba(0,0,0,.5) url(../img/mmImgMain.png) -281px -482px no-repeat;background-size:900px 500px;
	font-size:12px;color:#fff;
	text-overflow:ellipsis;white-space:nowrap;overflow:hidden;
	display:block;width:100%;
	padding:3px 16px 3px 6px;
	position:absolute;bottom:0;
}
#mmMV li a:hover span{background-color:rgba(0,0,0,1);}
#mmMV li.PV a span{background-color:rgba(255,78,0,.68);}
#mmMV li.PV a:hover span{background-color:rgba(255,78,0,1);}
/*==========*/
/* v big view v */
.mdbBigViewClose,.mdbBigViewList,.mdbBigViewPre,.mdbBigViewNex{
	opacity:.8;
	background:url(../img/mdbMvPreNex.png) 10px 0 no-repeat;background-size:160px 200px;
	display:block;
	position:fixed;z-index: 1000;
}
.mdbBigViewClose{
	width:80px;height:80px;
	background-position:7px -126px;
	top: 0;right: 0;
}
.mdbBigViewList{
	text-shadow:0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000,0 0 2px #000;
	color:#fff;font-size:14px;
	width:55px;height:40px;
	padding-top:23px;
	background-position:-109px -148px;
	bottom: 3%;left: 15px;
}
.mdbBigViewPre,.mdbBigViewNex{
	height:120px;width: 80px;
	margin-top:-60px;
	top:50%;
}
.mdbBigViewPre:hover,.mdbBigViewNex:hover,.mdbBigViewClose:hover,.mdbBigViewList:hover{opacity:1;text-decoration:none;}
.mdbBigViewPre{left:0;}
.mdbBigViewNex{right:0;background-position:-90px 0;}
/**/
/* pic plug-in */
	#imgContainer{
		/*max-width: 95%;max-height: 90%;*/
		margin:auto;
		position:fixed;z-index: 1000;top:0;right:0;left:0;bottom:0;
	}
#mdbBigViewMV{
	display:block;max-width:94%;max-height:94%;overflow:hidden;
	margin:auto;
	position:fixed;z-index: 1000;top: 50%;left: 0;bottom:0;right:0;
}
	/* ^ PC ^v Mobi v */
#mdbBigViewMVmobi,#mdbBigViewMVmobi img,#mdbBigViewMVmobi span{
	margin:auto;
	position:fixed;z-index: 1000;top: 0;right: 0;bottom: 0;left: 0;
}
#mdbBigViewMVmobi{
	vertical-align:middle;
	max-width:94%;max-height:94%;line-height:100%;
}
#mdbBigViewMVmobi img{display:block;/*width:js;height:js*/}
#mdbBigViewMVmobi span{
	background:url(../img/fourm.png) -24px -357px; no-repeat;background-size:1000px 500px;
	width: 68px;height: 48px;
}
/* ^ big view ^ */
/*.mmMasker,
#imgContainer,
#mdbBigViewMV,#mdbBigViewMVmobi,
.mdbBigViewPre,.mdbBigViewNex,.mdbBigViewList,
.mdbBigViewClose{display:none;}*/
/* ^ MOVIE ^ */
@media screen and (max-width:1424px) and (min-width:1024px){
	#mmMain{width:616px;}
	#mmMain h5,#mmSub h4{font-size:17px;}
	#mmMain > div {padding:12px;}
	/*==========*/
	div#mdbMain{padding-bottom:4px;}
	#mmMain #mdbTitle{padding-left:12px;}
	/**/
	#mainIntrol{height:207px;margin-bottom:7px;}/*(3)*/
		#mainIntrol > img{width:140px;}/*(1)*/
		#mainIntrol .introBox{margin-left:140px;}/*(2)*/
		#mainIntrol > a{right:15px;bottom:16px;}
			#introRate{height:60px;padding:15px 0 0 15px}
			#mainIntrol .introBox > p{
				line-height:1.8;
				padding:0 15px 15px;
			}
	#mainIntrol .introBox > p,#mainIntrol > a{font-size:15px;}
	/**********/
	#mmMV li a span{
		background-position:-308px -484px;
		padding:0px 12px 2px 4px;
	}
	/**/
	#mainMM > div > a{line-height:65px;}/*||*/
	#mainMM > div > div{height:73px;}/*||*/
	#mainMM li.more a{line-height:65px;}/*||*/
	#mainMM li a img{height:65px;}/*||*/
}
@media screen and (max-width:1023px) and (min-width:768px){
	#mmMain{width:616px;}
	#mmMain h5,#mmSub h4{font-size:17px;}
	#mmMain > div {padding:20px;}
	/*==========*/
	div#mdbMain{padding-bottom:4px;}
	#mmMain #mdbTitle{padding-left:12px;}
	/**/
	#mainIntrol{height:207px;margin-bottom:7px;}/*(3)*/
		#mainIntrol > img{width:140px;}/*(1)*/
		#mainIntrol .introBox{margin-left:140px;}/*(2)*/
		#mainIntrol > a{right:15px;bottom:16px;}
			#introRate{height:60px;padding:15px 0 0 15px}
			#mainIntrol .introBox > p{
				line-height:1.8;
				padding:0 15px 15px;
			}
	#mainIntrol .introBox > p,#mainIntrol > a{font-size:15px;}
	/**********/
	#mmMV li a span{
		background-position:-308px -484px;
		padding:0px 12px 2px 4px;
	}
	/**/
	#mainMM > div > a{line-height:65px;}/*||*/
	#mainMM > div > div{height:73px;}/*||*/
	#mainMM li.more a{line-height:65px;}/*||*/
	#mainMM li a img{height:65px;}/*||*/
}
@media screen and (max-width:1023px){
	#mmMain{width:100%;}
}
@media screen and (max-width:767px){
	#mmMain h5,#mmSub h4{font-size:16px;}
	#mmMain > div {padding:12px;}
	#mainBread{padding-bottom: 7px}
	/*==========*/
	#mmMain #mdbTitle{
		padding:5px;margin-bottom:1px;
	}
	#mdbTitle h1{font-size:20px;}
	#mdbTitle h2{
		font-size:12px;
		padding-right:105px;
	}
	/*==========*/
	div#mdbMain{padding-bottom:2px;padding-top:7px;}
	#mainIntrol{height:148px;padding-bottom:4px;}/*(3)*/
		#mainIntrol > img{width:100px;}/*(1)*/
		#mainIntrol .introBox{margin-left:100px;}/*(2)*/
		#mainIntrol > a{right:15px;bottom:16px;padding-left:10px;}
		#mainIntrol:after{height:12px;}
			#introRate{height:55px;padding:11px 0 0 10px;}
			#mainIntrol .introBox > p{
				line-height:20px;
				padding:0 15px 15px;
			}
	#mainIntrol .introBox > p,#mainIntrol > a{font-size:13px;}
	/**********/
	#mdbMain #mainMM > div{max-width:99%;margin-right:1%;}
	/*#mdbMain #mainMM > div:last-child{max-width:100%;margin:0;}*/
	#mmMV li a span{
		background-position:-333px -484px;
		padding:0px 12px 2px 4px;
	}
	/**/
	#mainMM > div > a{
		font-size:21px;
		width:50px;
		line-height:50px;/*||*/
		padding:0 5px;
	}
	#mainMM > div > div{height:58px;}/*||*/
	#mainMM li a img{height:50px;}/*||*/
	/**/
	#mainMM li.more a{line-height:50px;}
}
@media screen and (max-width:479px){
	#mdbTitle > span{
		background-color:transparent;
		font-size:12px;color:#515151;
		width:105px;
		padding:0 5px;
		right:5px;bottom:5px;
	}
	#mdbTitle > span.soon{background-color:transparent;color:#ff4e00;}
	#mainBread{margin-right:51px;}
	/**/
	.mmADsky{width: 100%;margin:0 0 8px;}
}
@media screen and (max-width:767px){
	.formTitle + ul a.transArea p{color:#3092ca!important;}
}