/*ZIP=================
2016 / 6 / 3
====================*/
body,html{background-color: #000;background-image:none;}
#mzBg{
	font-size:0;
	padding-top:43px;
	position:relative;
	overflow:hidden;
}
#mzBg > img{display:block;}
.rateBlock{width:100%;min-width:320px!important;}
.getWidthAbs,.widthBasic{
	position:absolute;top: 43px;
}
.widthBasic{z-index:6;}
.titlePage{z-index:10;}
.getWidthSta{margin-top:-3px;position: relative;}
/**/
#mzBg:before,#mzBg:after{
	content:'';
	display:block;height:100%;width:10%;
	position:absolute;top:0;z-index:5;
}
#mzBg:before{
	background: linear-gradient(to right, rgba(0,0,0,.7) , rgba(0,0,0,0));
	left:0;
}
#mzBg:after{
	background: linear-gradient(to left, rgba(0,0,0,.7) , rgba(0,0,0,0));
	right:0;
}
/*~*/
#TBox{
	text-align:center;
	width:100%;
	position:absolute;top:43px;z-index:7;
}
#TBox div{
	max-width:980px;
	text-align:center;font-size:0;
	margin:0 auto;
	position:relative;
}
#TBox img{
	display:inline-block;width:80%;
	margin:0 10%;
}
.btnFB{
	background-image:url(../img/fbShare.png);
	background-size:37px 37px;
	display:block;width: 37px;height: 37px;
	position:absolute;right: 10px;top: 10px;z-index:10;
}
@media screen and (min-width:768px){
	#mzBg > img{width:1450px;}
	.rateBlock.idx{height:350px;width:auto;}
	.rateBlock.page{width:auto;}
	.getWidthSta{margin-top:-7px;}
	/**/
	#TBox img{width:615px;}
}
@media screen and (min-width:1425px){
	#mzBg:before, #mzBg:after{
		width:25%;
	}
}
/*======================================*/
.bigger,.smaller{
	background-image:url(../img/event/moviequiz/2016/btn.png);
	background-size:240px 548px;
	color:#fff;
	display:table;
}
.bigger{
	font-weight:bold;
	width:240px;height:64px;
}
.bigger:hover{text-decoration:none;}
.bigger.mouse,.btnBoxIdx .bigger:hover{
	text-decoration:none;
	background-position:0 -70px;
}
.smaller{
	background-position:0 -280px;
	width:196px;height:45px;
}
.smaller:hover{text-decoration:none;background-position:0 -331px;}
.smaller.fb{background-position:0 -446px;}
.smaller.fb:hover{background-position:0 -497px;}
.timeOut .bigger{
	cursor:default;
	color:#000;
	background-position:0 -210px;
}
.bigger.true{background-position:0 -70px;color:#fff;}
.bigger.false{background-position:0 -140px}
/**/
.bigger div,.smaller div{
	text-align:center;vertical-align:middle;
	display:table-cell;
}
.bigger div{padding:5px 28px 0;line-height:1.3;}
.smaller div{padding:0 20px;}
/**/
.bigger span{
	border-radius:50%;
	background-color:#fff;
	color:#ff9000;text-align:center;
	display:inline-block;
	margin-right:7px;padding:0 5px;
}
.bigger.mouse span{color:#ff4e00;}
.timeOut span{background-color:#000;color:#515151!important;}
.timeOut .true span{background-color:#fff;color:#ff4e00!important;}
.timeOut .false span{color:#777!important;}
/*~~*/
.btnBoxIdx{
	margin-top:-50px;position:relative;z-index:8;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}
.btnBoxIdx a{
	font-size:20px;
	margin:0 auto 8px;
}
.btnBoxIdx a:first-child{font-size:27px;}
/*~*/
#btnBoxPage a{font-size:16px;}
/*=====================================*/
#Qbox{
	width:100%;min-width:300px;
	position:absolute;top: 43px;
}
#Qbox > img{width:100%;}
#Qbox > div{position:relative;}
#Qpic{
	display:table;
	margin:0 auto;
	position:relative;z-index:1;
}
#Qpic div{
	text-align:center;vertical-align: middle;font-size:0;
	display:table-cell;
	position:relative;
}
#Qpic img{
	display:inline-block;width:86%;
}
#Qpic span{
	text-shadow:0 0 8px #000,0 0 8px #000,0 0 8px #000,0 0 8px #000;
	font-size:65px;font-weight:bold;color:#fff;text-align:center;
	position:absolute;left:50%;top:50%;
	display:block;width: 260px;line-height:66px;
	margin:-33px 0 0 -130px;
}
#Qpic h5{
	text-shadow:0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000,0 0 4px #000;
	font-size:14px;color:#fff;text-align:center;
	width:220px;line-height:20px;
	margin:4px 0 0 -110px;
	position:absolute;left:50%;top:50%;
}
	#Qbox > div > img{
		display:block;width: 156px;
		margin-left:-78px;
		position:absolute;left:50%;z-index:3;top: 0;
	}
	#Qbox b{
		border-radius:15px;border:solid 3px #000;
		background-color: #24ede1;
		color:#000;text-align:center;font-size:16px;
		display:block;line-height:1;width:56px;
		padding:3px 0;margin-left:-133px;
		position:absolute;z-index:3;left:50%;top:-1px;
		transform:rotate(3deg);
		-webkit-transform:rotate(3deg);
		-moz-transform:rotate(3deg);
		-ms-transform:rotate(3deg);
		-o-transform:rotate(3deg);
	}
/*~*/
#btnBoxPage > div{
	background:url(../img/event/moviequiz/2016/time.png) 0 0 no-repeat;
	background-size:129px 34px;
	width: 129px;height: 34px;
	padding-left:38px;
	position:absolute;left:50%;margin-left:-72px;top:-17px;
}
#btnBoxPage > div img{
	width: 64px;
	position:relative;top:-19px;
}
/*#btnBoxPage > h4{
	opacity:.8;
	border-radius: 8px;
	background-color:#000;
	color:#fff;font-size:13px;
	line-height:1;
	padding:5px 8px;
	position:absolute;right: 0;top: -10px;
}*/
#Qpic img.tf675{display:none;}
/*==================================*/
#Qpic .Qpic_true,#Qpic .Qpic_false{display:none;}
#Qpic.true .Qpic_true,
#Qpic.false .Qpic_false{display:block;}
#Qpic.true > div > img,
#Qpic.false > div > img{display:none;}
#Qpic h4{
	opacity:.9;
	border-radius: 8px;
	background-color:#000;
	color:#fff;font-size:13px;
	line-height:1;
	padding:5px 8px;
	position:absolute;right: 7%;
}
/*==================================*/
#mzBg.result #Qpic div{vertical-align: top;}
#mzBg.result #Qpic img{margin:0;width:86%;}
#mzBg.result #Qpic span{margin-top:0;top:27%;}
#mzBg.result #Qpic h6{color:#fff;font-size:15px;}
#mzBg.result #Qpic h6 i{color:#4af2ea;font-style:normal;}
/*===================================*/
#btnBoxResult{position:relative;z-index:10;}
#btnBoxResult a:nth-child(5) img{
	vertical-align: -3px;
	display:inline-block;width: 18px;height: 18px;
}
@media screen and (max-width:479px){
	#mzBg.result #Qpic span{top:20%;font-size:50px;}
}
@media screen and (min-width:480px){
	#mzBg.result #Qpic h6{font-size:20px;}
}
@media screen and (max-width:767px){
	#btnBoxPage{
		background-color:#000;
		height:160px;width:96%;min-width:300px;
		margin-left:2%;margin-bottom:10px;
		position:fixed;bottom:0;z-index:8;
	}
	#btnBoxPage a,#btnBoxResult a{
		background-image:none;
		float:left;
	}
	#btnBoxPage a{width:49.5%;height:80px;}
	#btnBoxPage a:nth-child(odd){margin-right:1%;}
	#btnBoxPage a:nth-child(-n+2){margin-bottom:5px;}
	#btnBoxPage a div{padding-left:5px;padding-right:5px;}
	/**/
	#btnBoxPage a:first-child{border-radius:5px 5px 0 5px;}
	#btnBoxPage a:nth-child(2){border-radius:5px 5px 5px 0;}
	#btnBoxPage a:nth-child(3){border-radius:5px 0 5px 5px;}
	#btnBoxPage a:nth-child(4){border-radius:0 5px 5px 5px;}
	/**/
	#btnBoxPage a,#btnBoxResult a{
		border:solid 5px #24ede1;
		background-color:#ff9000;
	}
	#btnBoxPage a.mouse,#btnBoxResult a:hover{background-color:#ff4e00;}
	#btnBoxPage.timeOut a{background-color:#515151;border-color:#424242;}
	#btnBoxPage.timeOut a.true{background-color:#ff4e00;}
	#btnBoxPage.timeOut a.false{background-color:#777;}
	/**/
	#Qpic{width:100%;}
	#Qpic img{margin-top:15px;}
	#Qpic img.tf{margin-top:0;}
	#Qpic h4{bottom:5px;}
	/*==============================================*/
	#mzBg.result .getWidthSta{display:none;}
	/*~*/
	#btnBoxResult{width:96%;margin:0 auto;overflow:hidden;}
	#btnBoxResult a:nth-child(1){
		border-radius:5px;
		background-color:#ff4e00;
		font-size:25px;
		width:100%;height:45px;
	}
	#btnBoxResult a:nth-child(1):hover{background-color:#ff0000;}
	#btnBoxResult a:nth-last-child(-n+4){
		font-size:16px;font-weight:normal;
		width:49.5%;height:35px;
	}
	#btnBoxResult a:nth-child(-n+3){margin-bottom:3px;}
	#btnBoxResult a:nth-child(even){margin-right:1%;}
	#btnBoxResult a:nth-child(2){border-radius:5px 5px 0 5px;}
	#btnBoxResult a:nth-child(3){border-radius:5px 5px 5px 0;}
	#btnBoxResult a:nth-child(4){border-radius:5px 0 5px 5px;}
	#btnBoxResult a:nth-child(5){
		border-radius:0 5px 5px 5px;
		background-color:#3b5998;
	}
	#btnBoxResult a:nth-child(5):hover{background-color:#294684;}
	#btnBoxResult a:nth-child(5) div{padding:0;}
}
@media screen and (min-width:667px){
	#Qpic h5{
		font-size:17px;
		width: 270px;
		margin:-9px 0 0 -135px;
	}
}
@media screen and (min-width:768px){
	.rateBlock.page{height:600px;}/*A*/
	#Qbox > img{height:101px;}/*B*/
	#Qpic{height:499px;width:690px;}/*C=A+B*/
	#Qpic img{width:690px;}
	#Qpic h5{
		font-size:20px;
		width: 300px;
		margin:-19px 0 0 -150px;
	}
	#Qpic h4{right: 2px;top: 23px;}
	/*==============================================*/
	.btnBoxIdx{
		background-image:url(../img/event/moviequiz/2016/btn_deco_idx.png);
		background-size:630px 135px;
		background-position:-34px 5px;
		background-repeat:no-repeat;
		width: 596px;height: 135px;
		margin:-295px auto 0;
		transition: .5s;
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		-o-transition: .5s;
	}
	.btnBoxIdx a{position:absolute;}
	.btnBoxIdx a:first-child{
		top:15px;left:50%;margin-left:-120px;
	}
	.btnBoxIdx a:nth-child(2){
		left: 0;top:60px;
		transform:rotate(-3deg);
		-webkit-transform:rotate(-3deg);
		-moz-transform:rotate(-3deg);
		-ms-transform:rotate(-3deg);
		-o-transform:rotate(-3deg);
	}
	.btnBoxIdx a:nth-child(3){
		right: 0;top:60px;
		transform:rotate(3deg);
		-webkit-transform:rotate(3deg);
		-moz-transform:rotate(3deg);
		-ms-transform:rotate(3deg);
		-o-transform:rotate(3deg);
	}
	/*==============================================*/
	#btnBoxPage{
		background:url(../img/event/moviequiz/2016/btn_deco_page.png) 100px -6px no-repeat;
		background-size:482px 150px;
		width:685px;height:145px;
		margin:-175px auto 0;
		position:relative;z-index:6;
	}
	#btnBoxPage a{position:absolute;}
	#btnBoxPage a:nth-child(2),#btnBoxPage a:nth-child(4){
		margin-left:-120px;
		left:50%;
	}
	#btnBoxPage a:nth-child(4){top:71px;}
	#btnBoxPage a:nth-child(1),#btnBoxPage a:nth-child(3){
		top:40px;
	}
	#btnBoxPage a:nth-child(1){transform:rotate(-2deg);-webkit-transform:rotate(-2deg);-moz-transform:rotate(-2deg);-ms-transform:rotate(-2deg);-o-transform:rotate(-2deg);}
	#btnBoxPage a:nth-child(3){right:0;transform:rotate(2deg);-webkit-transform:rotate(2deg);-moz-transform:rotate(2deg);-ms-transform:rotate(2deg);-o-transform:rotate(2deg);}
	#btnBoxPage div{
		margin:5px 0 0 -247px;
	}
	#mzBg:before{background:linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,0));}
	#mzBg:after{background:linear-gradient(to left,rgba(0,0,0,1),rgba(0,0,0,0));}
	/*======================================*/
	#Qbox > div > img{
		width: 230px;margin-left:-115px;
	}
	#Qbox b{margin-left: -167px;top:2px;}
	/*======================================*/
	#mzBg.result .rateBlock{height:505px;}
	#mzBg.result #Qpic{height:405px;}
	#mzBg.result #Qpic > span{top:33%;}
	#mzBg.result #Qpic img{width:695px;}
	#mzBg.result #Qpic h6{font-size:21px;margin-top:-8px;}
	#btnBoxResult{
		background:url(../img/event/moviequiz/2016/btn_deco_result.png) 48px 11px no-repeat;
		background-size:481px 131px;
		width:590px;height:300px;
		margin-left:-295px;
		top:-508px;left:50%;
	}
	#btnBoxResult a{position:absolute;}
	#btnBoxResult a:nth-child(1){background-position:0 -70px;}
	#btnBoxResult a:nth-child(1):hover{background-position:0 -376px;}
	/**/
	#btnBoxResult a:nth-child(1){
		left:50%;margin-left:-120px;top:0;
	}
	#btnBoxResult a:nth-child(2){left:0;transform:rotate(-3deg);-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-ms-transform:rotate(-3deg);-o-transform:rotate(-3deg);}
	#btnBoxResult a:nth-child(3),
	#btnBoxResult a:nth-child(5){left:50%;margin-left:-98px;}
	#btnBoxResult a:nth-child(4){right:0;transform:rotate(3deg);-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-ms-transform:rotate(3deg);-o-transform:rotate(3deg);}
	#btnBoxResult a:nth-child(2),
	#btnBoxResult a:nth-child(4){top:49px;}
	#btnBoxResult a:nth-child(3){top:67px;}
	#btnBoxResult a:nth-child(5){top:115px;}

}
@media screen and (min-width:768px) and (max-height:675px){
	#mzBg.page{height:675px;}
	#mzBg.result{height:auto;}
	#mzBg.guest .rateBlock{height:505px;}
	#mzBg.guest #Qpic{height:405px;} 
	#Qpic img.tf{display:none;}
	#Qpic img.tf675{display:block;}
}
@media screen and (min-width:768px) and (min-height:676px){
	#btnBoxPage{
		margin-left:-343px;margin-top:0;
		position:absolute;top:593px;left:50%;
	}
}
/* ^^ PAD ^^vv mobi vv */
@media screen and (max-width:767px) and (max-height:479px){
	#btnBoxPage{position:relative;margin-top:-125px;}
}
/*===========================================================*/
.qa{
	margin-top:-25px;
	position:relative;z-index:9;
	overflow:hidden;
}
.qa .wrapper{
	background-color:#000;
	width:94%;min-width:300px;max-width:980px;
	margin:0 auto;
}
#mzFB{
	color:#7c8fc5;font-size:12px;
	width:185px;
	margin:30px auto 15px;
}
#mzFB img{vertical-align:-5px;display:inline-block;margin-left:7px;}
.mzWrapper #mzFB{margin:0 0 10px 0;}
.qa h6{
	background-color:#24ede1;
	color:#000;font-size:16px;text-align:center;
	width:73px;line-height:1;
	padding:3px 0;margin:28px 0 3px;
}
.qa,.qa li{
	color:#24ede1;font-size:16px;
	line-height:1.7;
}
.qa span{color:#fff000;}
.qa ul{
	list-style:disc;
	margin-left:22px;
}
.qa li{margin-bottom:14px;}
.qa a{text-decoration:underline;}
@media screen and (min-width:768px){
	.qa{margin-top:30px;}
	.qa:before{
		content:"";border-radius:50% 50% 0 0;
		background-color:#000;
		display:block;width:120%;height:110px;
		margin-left:-10%;
		position:absolute;z-index:-1;top:0;
	}
	#mzFB{margin-left:0;}
	.mzWrapper #mzFB{margin:0 0 10px 0;}
}
/*===========================================================*/
#mzFooter{
	background:#fff;
	text-align:center;font-size:0;
	height:95px;
	padding-top:20px;
	position:relative;
}
#mzFooter:before{
	content:'';
	background: linear-gradient(to bottom, rgba(0,0,0,.3) , rgba(0,0,0,0));
	display:block;height:20px;width: 100%;
	position:absolute;top: 0;
}
#mzFooter div{
	font-size:14px;color:#000;text-align:left;
	display:inline-block;
}
#mzFooter div:first-child{margin-right:20px;}
#mzFooter div img{display:block;margin-top:5px;}
#mzFooter div:first-child img{
	height: 26px;
}
#mzFooter div:last-child img{
	height: 31px;
}
/*===========================================================*/
#mzRate{
	background-color:#000;
	width:100%;
	position:relative;
}
#mzRate:before{
	content:"";
	background:linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
	display:block;width:100%;height:100px;
	position:absolute;top:-100px;
}
#mzRate .mzWrapper{
	background-color:#fff;
	width:96%;
	margin:0 auto;padding:12px;
}
@media screen and (max-width:767px){
	#mzRate{padding:10px 0 15px;margin-bottom:-40px;}
}
@media screen and (min-width:768px){
	#mzRate{
		margin-top:-560px;
		padding:30px 0 3px;margin-bottom:-23px;
		z-index:11;
	}
	#mzRate .mzWrapper{max-width:980px;}
}
/*===========================================================*/
.gotContBox > h6{
	font-size:18px;
	margin-bottom:8px;
}
.gotContBox > h6 img{height:18px;vertical-align:-2px;}
.gotRateBox{overflow:hidden;}
.gotRateBox > li{background-color:#efefef;float:left;}
/**/
.gotRatePic{font-size:0;position:relative;}
.gotRatePic img{
	width: 99.9%;height:auto;
}
.gotRatePic span.rateTotal{
	position:absolute;right: 5px;bottom: 7px;
}
.gotRatePic:before{
	content:"";border-radius:50%;
	box-shadow:0 0 15px #000,0 0 15px #000,0 0 15px #000;
	background-color:#000;
	display:block;width: 30px;height: 30px;
	position: absolute;right: 11px;bottom: 10px;
	opacity:.7;
}
/**/
.gotRateBox h6{
	border-bottom:solid 1px #a8a8a8;
	display:table;width:91%;
	margin:5px 8px 8px;padding-bottom:5px;
}
.gotRateBox h6 > div{
	vertical-align:middle;
	display:table-cell;height:30px;
	padding-right:5px;
}
.gotRateBox h6 > div > div{
	font-weight:normal;color:#000;text-align:center;
	line-height:1.3;

	overflow:hidden;
	text-overfloew:ellipsis;
	display:box;display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;
	line-clamp:2;-webkit-line-clamp:2;-moz-line-clamp:2;-ms-line-clamp:2;-o-line-clamp:2;
	box-orient:vertical;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;-o-box-orient:vertical;
}
.gotRateBox h6 > div > div > span{display:inline-block;}
/**/
.gotRateAction > *{margin:0 auto;}
.gotRateAction .rateArea{height:36px;}
.rateArea span{text-align:center;}
/*~~~~~~*/
.mdbLB{top:300px;display:none;}
@media screen and (max-width:767px){
	.gotRateBox > li{width: 32%;margin-right:2%;margin-bottom:10px;}
	.gotRateBox > li:nth-child(3n){margin-right:0;}
	/**/
	.gotRateBox h6{font-size:12px;}
	/**/
	.gotRateAction{padding-bottom:10px;}
}
@media screen and (min-width:768px){
	.gotRateBox > li{width: 15.8%;margin-right:1%;margin-bottom:15px;}
	.gotRateBox > li:nth-child(6n){margin-right:0;}
	/**/
	.gotRateAction{padding-bottom:10px;}
	/*~~~~~~*/
	.gotContBox.mmNews{
		padding:16px 0 51px 2%;
		position:relative;
	}
}
@media screen and (min-width:1024px) and (max-width:1270px){
	.mmNews+script+a{margin-bottom:40px;}
}
/*===========================================*/
.outer{overflow:hidden;}
#mzBg.list:before,#mzBg.list:after{display:none;}

.rb4{width:100%;}
#mzList{
	width:100%;overflow:hidden;
	position:absolute;top:43px;font-size:0;
}
#mzList .listWrapper{
	margin:0 auto;
	position:relative;z-index:15;
}
#mzList .listWrapper{
	color:#fff;font-size: 18px;
	min-width:320px;
	/*margin-top:-200px;*/
}
#mzList .getWidthAbs{top:0;}
#mzList .listWrapper > img{max-width:;width:100%;}
/******************************************/
#top50,#quizBox{margin:-32px auto 0;width:87%;}
#top50{position:relative;z-index:1;}
#top50 p{
	padding:5px 8px;margin-bottom:5px;
	background-color:#24ede1;
	color:#000;font-size:12px;
	line-height:15px;
}
#top50 p span{color:#000;display:inline-block;font-size:12px;}
#top50 a:nth-child(2){clear:both;}
#top50 a{
	border:solid 5px #24ede1;border-radius:5px;
	background-color:#ff9000;
	color:#fff;font-size:16px;text-align:center;
	display:block;width:49.5%;
	padding:0 8px;
	float:right;
}
#top50 a:hover{background-color:#ff4e00;text-decoration:none;}
/**/
#top50 +ul{
	background:url(../img/event/moviequiz/2016/first.png) 0 47px no-repeat;
	background-size:25px 18px;
	width:87%;
	margin:0 auto;
	clear:both;
}
#top50+ul li{
	border-bottom:1px dotted #3a3a3a;
	padding:10px 0;
	position:relative;
}
#top50+ul li>*{font-size:16px;font-weight:normal;top:10px;}
/**/
#top50+ul li:nth-child(1){height:36px;}
#top50+ul li:nth-child(odd) span{background-color:#24ede1;}
#top50+ul li:nth-child(odd) h6,#top50+ul li:nth-child(odd) b{color:#24ede1;}
#top50+ul li:last-child{border:none;}
/**/
#top50+ul li h4,#top50+ul h5{
	color:#24ede1;font-size:18px;font-weight:bold;
	line-height:20px;
}
#top50+ul li h4{float:left;}
#top50+ul li h5{float:right;}
/**/
#top50+ul span{
	border-radius:50%;
	background-color:#fff;
	font-size:12px;text-align:center;color:#000;
	display:block;width:20px;line-height:20px;
	margin-left:30px;
	position:absolute;left:0;
}
#top50+ul h6{
	overflow:hidden;text-overflow:ellipsis;white-space: nowrap;
	padding:0 73px 0 53px;
}
#top50+ul b{
	text-align:right;
	width:70px;
	position:absolute;right: 0;
}
@media screen and (min-width:375px){#top50,#quizBox{margin-top:-37px;}}
@media screen and (min-width:414px){#top50,#quizBox{margin-top:-41px;}}
@media screen and (min-width:480px){#top50,#quizBox{margin-top:-46px;}}
@media screen and (min-width:568px){#top50,#quizBox{margin-top:-54px;}}
@media screen and (min-width:667px){
	#top50{margin-top:-63px;}
	#top50 p{padding:8px;}
	#top50 p span{font-size:17px;}
}
@media screen and (min-width:736px){#top50,#quizBox{margin-top:-68px;}}

@media screen and (max-width:767px){
	#mzList .listWrapper{padding:0 9%;}
	#mzList .listWrapper > div
	/********************************/
	#top50 a{width:49.5%;}
	#top50 a:nth-child(2){margin-left:1%;}
}
@media screen and (min-width:768px){
	#mzList .listWrapper{max-width:660px;}
	.rb4{height:134px;}
	/************************/
	#top50{margin-top:-75px;}
	#top50 a{width: 120px;}
	#top50 a:nth-child(2){margin-left:5px;}
}

/********************************/
/********************************/
/********************************/
#quizBox{font-size:15px;}

#quizBox+ul,#quizBox+ul+ul{width:87%;margin:0 auto;}
#quizBox+ul li,#quizBox+ul+ul li{
	border-radius:none;
	border-bottom:1px dotted #3a3a3a;
	padding:5px 0;
	overflow:hidden;
}
#quizBox+ul input,#quizBox+ul+ul input{
	-webkit-apparance:none;
	border:none;outline:none;
	background-color:#333;
	color:#fff;
	width:100%;height:28px;
	padding-left:10px;
}
#quizBox+ul{}
#quizBox+ul li{position:relative;}
#quizBox+ul li > *{font-size:15px;}
#quizBox+ul li h6{
	color:#24ede1;
	line-height:28px;
	position:absolute;left: 0;
}
#quizBox+ul li div{
	overflow:hidden;text-overflow: ellipsis;white-space: nowrap;
	padding-left:95px;
}
#quizBox+ul+ul{margin-bottom:10px;}
#quizBox+ul+ul li{position:relative;}
#quizBox+ul+ul li:last-child{border:none;}
#quizBox+ul+ul h4,#quizBox+ul+ul h5{color:#24ede1;font-weight: normal;}
#quizBox+ul+ul h4{font-size:15px;float:left;line-height:28px;}
#quizBox+ul+ul h5{font-size:12px;float:right;line-height:1;margin-top:2px;}

#quizBox+ul+ul li span{
	font-size:15px;color:#24ede1;
	line-height:28px;
	position:absolute;left: 0;
}
#quizBox+ul+ul li div{
	margin:0 54px 0 20px;
}
#quizBox+ul+ul li input[type=checkbox]{
	width:28px;height:28px;
	position:absolute;right: 20px;top: 5px;
}

#quizBox+ul+ul+a,#quizBox+ul+ul+a+a{
	border-radius:5px;border:solid 5px #24ede1;
	font-size:15px;color:#fff;text-align:center;
	display:block;line-height: 25px;
	padding:0 10px;
}
#quizBox+ul+ul+a+a{
	font-size:12px;
	background-color:#8e8e8e;
	float:left;width:40%;
}
#quizBox+ul+ul+a+a:hover{
	background-color:#383838;text-decoration:none;
}

#quizBox+ul+ul+a{
	background-color:#ff9000;
	margin-bottom:15px;
	float:right;width:58%;
}
#quizBox+ul+ul+a:hover{background-color:#ff4e00;text-decoration:none;}
@media screen and (min-width:768px){
	#quizBox+ul+ul+a+a,#quizBox+ul+ul+a{width:auto;float:right;}
	#quizBox+ul+ul+a+a{margin-right:10px;}
	#quizBox+ul+ul+a{margin-right:40px;}
}