/*====== 2016 / 5 / 5 ======*/
body,html{background-color:#b9ddbd;background-image:none;}
#mmBody{padding-top:43px;padding-bottom:0;}
#mmBody .wrapper{max-width:970px;min-width:310px;}
/*~~~~~~*/
#shuHeader{font-size:0;overflow:hidden;position:relative;}
#shuHeader img{display:none;}
#shuHeader img:first-child,#shuHeader img:nth-child(2){
	width: 100%;
	position:absolute;top: 0;
}
#shuHeader img:nth-child(3){
	width:100%;
	display:block;margin:0 auto;
	position:relative;
}
#shuHeader a{
	background-color:#80b31f;
	color:#fff;
	display:block;
	padding:3px 5px;margin:0 5px 5px 0;
	float:right;position:relative;
}
#shuHeader a:hover{background-color:#03532d;text-decoration:none;}
/*~~~~~~*/
.fbShare{background-color:#fff;font-size:12px;color:#000;}
.fbShare img{display:inline-block;vertical-align: middle;margin:0 5px 0 3px;}
#shuHeader+.fbShare{background-color:#FFFAC0;padding-top:12px;}
/*~~~~~~*/
#shuMSG{
	background-color:#fffac0;
	color:#000;font-size:12px;
	padding:12px;
}
div#shuMSG p{text-indent:0;padding:0;}
/*~~~~~~*/
#shuReward{background-color:#fffac0;}
#shuReward > p,#shuMSG p{
	text-indent:12px;font-size:17px;color:#03532d;font-weight:bold;
	padding-top:5px;
}
#shuReward ul{
	background-color:transparent;
	width:100%;
	margin:0 auto;padding:3px 12px 12px;
}
#shuReward li{
	background-color:#fff;padding-bottom:10px;
	width:48.5%;margin:0 3% 0 0;
}
#shuReward li:last-child{margin:0;}
#shuReward h3{
	text-align:center;font-size:17px;color:#000;
	padding:5px 0;
}
#shuReward li:first-child h3{background:url(/img/event/shuRadio/2016/1st.png) 0 0 repeat;}
#shuReward li:last-child h3{background:url(/img/event/shuRadio/2016/2nd.png) 0 0 repeat;}
#shuReward h3 img{
	display:inline-block;width: 20px;vertical-align: -1px;
}
#shuReward li:hover h5{color:#888;}
/**/
#shuReward .voteBox li{padding-bottom:5px;}
#shuReward .voteBox div{text-align:center;padding:0;height:auto;}
#shuReward .voteBox p{color:#80b31f!important;float:none;}
/*~~~~~~*/
.voteBox{
	background-color:#fff;
	font-size:0;
	width: 100%;
	overflow:hidden;
}
.voteBox li{
	background-color:#e8e8e8;
	display:inline-block;
	position:relative;
}
/****/
.voteBox li > a{
	display:block;width:100%;
	position:relative;
}
.voteBox a img:first-child{display: block;width: 100%;height: auto;}
.voteBox a img:last-child{display:none;}
.voteBox li > a:hover img:last-child{
	display:block;width:82px;
	margin:auto;
	position:absolute;top: 0;right: 0;bottom: 0;left: 0;
}
.voteBox h4{
	background-color:rgba(185,221,189,.8);
	font-size: 15px;text-align:center;color:#000;
	width: 40px;line-height: 25px;
	position:absolute;top: 0;
}
.voteBox h5,.voteBox h6{
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
	color:#888;font-weight:;font-size:12px;text-align:center;
	width:100%;
	padding:5px 6px 0;
}
.voteBox h6{
	font-weight:normal;color:#333;
	padding-top:0;
}
.voteBox div{
	overflow:hidden;height:40px;
	padding:7px 12px;
}
.voteBox p{
	color:#80b31f;font-size:19px;font-weight:bold;line-height:26px;
	float:left;
}
/****/
.voteBox li:hover{background-color:#b9ddbd;}
.voteBox li:hover h4{background-color:rgb(185,221,189)}
.voteBox li:hover h5,.voteBox li:hover h6,.voteBox li:hover p{color:#000;}
/****/
.voteBox div a{
	background-color:#80b31f;
	border-radius:3px;
	font-size:17px;color:#fff;
	display:block;line-height:26px;height:26px;
	padding:1px 10px 0;
	float:right;
}
.voteBox div a:hover{background-color:#486511;text-decoration: none;}
.voteBox.voted div a,.voteBox.voted div a:hover{
	background-color:#aaa;color:#dfdfdf;
	cursor:default;
}
.voteBox.voted div a.voted{
	background:#486511 url(/img/event/oscars/2016/voted.png) 6px 4px no-repeat;
	background-size:18px 18px;
	color:#fff;
	padding-left:26px;
}
.voteBox div a.voted{background-color:#80b31f;}
/*~~~~~~*/
#searchBox{
	background-color:#fff;padding-bottom:8px;
}
#searchBox p{
	background-color:#03532d;
	color:#fff;font-size:12px;
	padding:8px;
}
#searchBox div{
	height:35px;
	position:relative;
}
#searchBox input{
	-webkit-appearance:none;
	border-radius:0;
	border:solid 4px #72e8ad;border-right:none;
	display:block;height:100%;width: 100%;
	padding-left:10px;
}
#searchBox input:focus{outline:none;}
#searchBox a{
	text-align:center;
	display:block;width:45px;height:100%;
	position:absolute;top: 0;
}
#searchBox a:nth-child(2){
	background-color:#72e8ad;
}
#searchBox a:nth-child(2):hover{background-color:#5dc990;}
#searchBox a:nth-child(3){
	background-color:#369e67;
	color:#fff;font-size:25px;
	padding-top:3px;
}
#searchBox a:nth-child(3):hover{text-decoration:none;background-color:#176339;}
#searchBox a img{
	display:inline;width: 23px;
	margin-top:6px;
}
/**/
#searchBox div{padding-right:45px;}
#searchBox a:nth-child(2){right:0;}
#searchBox a:nth-child(3){display:none;}
/**/
#searchBox.working div{padding-right:90px;}
#searchBox.working a:nth-child(2){right:45px;}
#searchBox.working a:nth-child(3){display:block;right: 0;}

/*~~~~~~*/
#shuFB{background-color:#fff;}
#shuFB h6{
	background-color:#03532d;
	color:#fff;font-size:17px;
	padding:12px;margin-bottom:5px;
}
/*~~~~~~*/
#shuFooter{
	color:#000;text-align:center;font-weight:bold;
	line-height:50px;
}
/*~~~~~~*/
#shuBox{overflow:hidden;}
#shuView{background-color:#fff;}
#shuView h6{
	font-size:20px;color:#444;
	margin-top:16px;
}
/**/
#article{}
#article p{color:#444;margin-bottom:12px;}
/**/
#article{}
#article p{font-size:13px;line-height:1.5;}
/**/
#shuPoster{}
#shuPoster a{
	font-size:0;
	display:block;
}
#shuPoster a img{width: 100%;}
#shuPoster a img:nth-child(2){
	width: 38px;
	position:absolute;
	opacity:.8;
}
#shuPoster a:hover img:nth-child(2){opacity:1;}
/**/
#shuPoster ul div{position:relative;}
#shuPoster li{margin-bottom:5px;font-weight:bold;}
#shuPoster li.LL{position:absolute;top: 0;}
#shuPoster li.RR{line-height:1.2;}
/**/
.sfb{clear:both;overflow:hidden;}
.sfb a{
	border-radius:6px;
	text-align: center;color:#fff;
	display:block;
}
.sfb a:hover{text-decoration:none;}
.sfb .vot{
	font-size:17px;
	line-height:1.2;height:78px;
	margin-right:2%;padding-top:20px;
	float:left;width:49%;
}
.sfb .vot.votedOther{
	cursor:default;
	background-color:#aaa!important;
	color:#777!important;
}
.sfb .vot.voted{
	cursor:default;
	font-size:21px;
	background-color:#486511!important;color:#fff!important;
	padding-top:27px;
}
.sfb .vot.voted img{
	width: 23px;vertical-align:-4px;margin-right:3px;
}
.sfb .vot,.sfb .idx{background-color:#80b31f;}
.sfb .vot:hover,.sfb .idx:hover{background-color:#03532d;}
/**/
.sfb div{float:right;width:49%;}
.sfb .idx,.sfb .fb{font-size:15px;line-height:35px;}
.sfb .fb{background-color:#3f60a8;margin-top:8px;}
.sfb .fb:hover{background-color:#22427c;}
/**/
#article .sfb{width:70%;float:right;}
#shuBox+.sfb{margin-top:12px;}
/**/
.fb_iframe_widget{margin:0 8px 0 2px;}
@media screen and (max-width:400px){
	#mmBody .wrapper{padding:0 2%;}
}
@media screen and (max-width:767px){
	#shuHeader img:first-child{display:block;}
	#shuHeader a{font-size:12px;}
	/*~~~~~~*/
	.fbShare{padding:12px 0 0 12px;}
	/*~~~~~~*/
	.voteBox{padding:0 0 12px 12px;}
	.voteBox li{width:48%;margin-right:2%;margin-bottom:12px;}
	.voteBox li:nth-last-child(-n+2){margin-bottom:0px;}
	/*~~~~~~*/
	#searchBox{padding:5px 12px 10px;}
	/*~~~~~~*/
	#shuFB{padding:12px;}
	/*~~~~~~*/
	#shuFooter{font-size:12px;}
	/*~~~~~~*/
	#shuView{padding:12px;}
	/**/
	#shuPoster{
		height: 163px;
		position:relative;
	}
	#shuPoster a{
		width: 110px;
		position:absolute;top: 0;
	}
	#shuPoster a img:nth-child(2){right: 10px;bottom: 10px;}
	/**/
	#shuPoster ul{
		margin-left:118px;
	}
	#shuPoster li{font-size:13px;}
	#shuPoster li.LL{width: 45px;}
	#shuPoster li.RR{margin-left:45px;}
	#article .sfb{display:none;}
}
@media screen and (min-width:768px){
	#shuReward > p,#shuMSG p{text-indent:20px;}
	#shuHeader img:nth-child(2){display:block;}
	#shuHeader img:nth-child(3){max-width:460px;}
	#shuHeader a{font-size:14px;}
	/*~~~~~~*/
	.fbShare{padding:12px 0 0 20px;}
	#shuHeader+.fbShare{position:relative;}
	/*~~~~~~*/
	#shuReward > p{text-align:center;}
	#shuReward ul{max-width:400px;}
	/*~~~~~~*/
	.voteBox{padding:0 0 20px 20px;}
	.voteBox li{
		width:18%;
		margin-right:2%;margin-bottom:15px;
	}
	.voteBox h5,.voteBox h6{font-size:15px;}
	.voteBox li:nth-last-child(-n+5){margin-bottom:0px;}
	/*~~~~~~*/
	#searchBox{
		height:63px;
		padding:10px 20px 10px;
		position:relative;
	}
	#searchBox p{
		height:35px;
		position:absolute;left:20px;top: 10px; right:20px;bottom:0;
	}
	#searchBox div{width:300px;float:right}
	/*~~~~~~*/
	#shuFB{padding:20px;}
	/*~~~~~~*/
	#shuFooter{font-size:15px;}
	/*~~~~~~*/
	#shuView{padding:10px 20px 20px;}
	#shuView h6{padding-bottom:4px;}
	/**/
	#shuBox{position:relative;}
	#article p{font-size:15px;min-height:400px;}
	#article{margin-left:235px;}
	#shuPoster{position:absolute;top: 0;width:220px;}
	/**/
	#shuPoster a img:nth-child(2){right: 10px;top: 275px;}
	#shuPoster ul{margin-top:8px;}
	#shuPoster li{font-size:17px;}
	#shuPoster li.LL{width: 53px;}
	#shuPoster li.RR{margin-left:53px;}
	#shuBox+.sfb{display:none;}
}

/* v big view v */
.mdbBigViewClose{
	opacity:.8;
	background:url(/img/mdbMvPreNex.png) 10px 0 no-repeat;background-size:160px 200px;
	display:block;
	position:fixed;z-index: 1000;
}
.mdbBigViewClose{
	width:80px;height:80px;
	background-position:7px -126px;
	top: 0;right: 0;
}

.mdbBigViewClose:hover{opacity:1;text-decoration:none;}
/**/
/* pic plug-in */
	#imgContainer{
		margin:auto;
		position:fixed;z-index: 1000;top:0;right:0;left:0;bottom:0;
	}
#mdbBigViewMV{
	display:block;max-width:94%;max-height:94%;overflow:hidden;
	margin:auto;
	position:fixed;z-index: 1000;top: 50%;left: 0;bottom:0;right:0;
}
/* ^ big view ^ */


#shareBox{position:absolute;}
#shareBox > div{
	text-align:right;font-size:0;
	width:80px;
}
#shareBox a{
	background-image:url(/img/event/vote/2016/column.png);background-size:587px 450px;
	background-color:transparent;
	display:inline-block;width: 35px;height: 33px;
	margin:0;
}
#shareBox a:last-child{background-position:-140px -381px;}
#shareBox a:last-child:hover{background-position:-140px -416px;}
#shareBox{
	display:block;
	right:2%;top:8px;z-index:20;
}
#shareBox div a{
	border-radius:7px;
	background-color:#fff;
	width:33px;height:32px;
}