/*
====================
version 1
2015 / 11 / 09
====================
*/
@charset "utf-8";
#mmBody{padding-top:23px;}
.wrapper{width: 990px;}
body{background:none;}
body:before{
	content: "";
	background: url(http://www.moviemovie.com.tw/img/event/vote/gh52/bg.jpg) 0 0 repeat;
	width: 200%;height: 350%;
	position: fixed;z-index: -1;
	-webkit-transform-origin:0 30%;-moz-transform-origin:0 30%;-ms-transform-origin:0 30%;-o-transform-origin:0 30%;transform-origin:0 30%;
	-webkit-transform: rotate(-9deg);-moz-transform: rotate(-9deg);-ms-transform: rotate(-9deg);-o-transform: rotate(-9deg);transform: rotate(-9deg);
}
#header{
	background:#262626;
	padding: 7px 45px 40px;
	position: relative;
}
#header > *{position:absolute;}
#header img{
	display:block;width:100%;height: auto;
	margin:0 auto;
	position:static;
}
#header img.mobi{display:none;}
/* FILM */
	#header:before,#header:after,#menu:before,#menu:after{
		content:"";
		background:url(http://www.moviemovie.com.tw/img/event/vote/gh52/film.png) 0 7px repeat-y;background-size:13px 29px;
		display:block;width: 12px;height: 100%;
		position:absolute;top:0;
	}
	#header:before,#menu:before{left:15px;}
	#header:after,#menu:after{right:15px;}
/* FILM */
#header div:first-child{
	color:#e8a62d;font-size:20px;
	right:44px;bottom:7px;z-index: 2;
}
#header div:first-child a{
	border-radius:3px;
	background:#FD5156;
	color:#fff;font-weight:bold;
	display:inline-block;
	padding:2px 8px 5px 4px;margin-left:12px;
}
#header div:first-child a:hover{
	background-color:#EA3338;
	text-decoration:none;
}
#header span{
	background:#262626;
	width: 100%;height: 8px;
	bottom: 0;left: 0;z-index: 1;
}
/*************************************/
#share{
	border-radius:9px;
	padding:3px;
	position:absolute;right:34px;top:5px;z-index:6;
}
#share a{
	color:#fff;font-size:12px;text-align:center;padding-top:28px;border-radius:6px;
	background:url(http://www.moviemovie.com.tw/img/event/anniv/2015/icon.png) -40px -100px no-repeat;background-size:162px 144px;
	display:block;width: 41px;height: 50px;
	border:solid 3px rgba(255,255,255,.7);
	position:relative;float:left;
}
#share a:after{
	content:'';display:block;
	width:100%;height:100%;
	position:absolute;top: 0;left: 0;
}
#share a:hover:after{background-color:rgba(255,255,255,.1);}
#share a:hover{text-decoration:none;}
#share a.fb{
	margin-left:3px;
	background-position:0 -100px;
}
/****************************************/
#menu{
	font-size:0;text-align:center;
	background:#262626;
	margin:0 5px;padding-bottom:10px;
	position: relative;
}
#menu p{
	color:#fff;font-size:14px;text-align:left;
	padding:10px 40px 16px;
}
#menu p b{color:#e8a62d;font-size:17px;}
#menu a{
	border-radius:3px;
	background-color:#fff;
	text-align:center;font-size:14px;color:#fff;font-weight:bold;vertical-align:middle;
	display:inline-block;line-height:1.1;height:40px;width:10%;
	padding-top:12px;margin-right:1%;
	position:relative;z-index: 2;
}
#menu a:nth-child(3){background-color:#80b31f;}
#menu a:nth-child(4){background-color:#25bcee;}
#menu a:nth-child(5){background-color:#940b5d;}
#menu a:nth-child(6){background-color:#e07aad;}
#menu a:nth-child(7){background-color:#b30d23;}
#menu a:nth-child(8){background-color:#7f4f21;}
#menu a:nth-child(9){background-color:#00813a;}
#menu a:nth-child(10){background-color:#e38800;}
#menu a:nth-child(11){padding-top:5px;margin-right:0;background-color:#036ea8;}
#menu a:hover{text-decoration: none;}
#menu a:nth-child(3):hover{background-color:#486511;}
#menu a:nth-child(4):hover{background-color:#146884;}
#menu a:nth-child(5):hover{background-color:#860F56;}
#menu a:nth-child(6):hover{background-color:#E6648E;}
#menu a:nth-child(7):hover{background-color:#860B1B;}
#menu a:nth-child(8):hover{background-color:#4E3014;}
#menu a:nth-child(9):hover{background-color:#004A21;}
#menu a:nth-child(10):hover{background-color:#E33F00;}
#menu a:nth-child(11):hover{background-color:#025A8A;}
#menu span{
	background-color:#262626;
	display:block;width: 100%;height: 58px;
	position: absolute;bottom: 0;z-index: 1;
}
/************************************/
.skew{
	background:#000;
	height:5px;width: 100%;
	position:relative;
}
.skew:before,.skew:after{
	content:"";
	display:block;width: 0;height: 0;
	border-style:solid;
	position:absolute;
}
.skew.above:before{
	border-width:0 6px 6px 0;
	border-color:transparent transparent #FF4F4F;
	left:0;
}
.skew.above:after{
	border-width:0 0 6px 6px;
	border-color:transparent transparent #FF4F4F;
	right:0;
}
.skew.under:before{
	border-width:6px 6px 0 0;
	border-color:#FF4F4F transparent transparent;
	left:0;
}
.skew.under:after{
	border-width:6px 0 0 6px;
	border-color:#FF4F4F transparent transparent;
	right:0;
}
/**/
#mainBody{
	border-bottom:#b7b7b7 solid 2px;
	background-color:#fff;
	padding:15px 23px 23px;margin-bottom:20px;
}
#mainBody h6{font-size:15px;color:#4464AF;}
#fbApi{max-width:100%;overflow:hidden;margin-bottom: 8px;}
.voteBox h4{
	background:#aaa url(http://www.moviemovie.com.tw/img/event/vote/gh52/logo.png) 10px 8px no-repeat;
	background-size:28px 30px;
	color:#fff;
	line-height:48px;
	padding-left:45px;margin-bottom: 12px;
	position:relative;clear:both;
}
	.voteBox.sort1 h4,.voteBox.sort1 a{background-color:#80b31f;}
	.voteBox.sort1 p{color:#80b31f;}
	.voteBox.sort1 a:hover{background-color:#486511;}
	.voteBox.sort2 h4,.voteBox.sort2 a{background-color:#25bcee;}
	.voteBox.sort2 p{color:#25bcee;}
	.voteBox.sort2 a:hover{background-color:#146884;}
	.voteBox.sort3 h4,.voteBox.sort3 a{background-color:#940b5d;}
	.voteBox.sort3 p{color:#940b5d;}
	.voteBox.sort3 a:hover{background-color:#860F56;}
	.voteBox.sort4 h4,.voteBox.sort4 a{background-color:#e07aad;}
	.voteBox.sort4 p{color:#e07aad;}
	.voteBox.sort4 a:hover{background-color:#E6648E;}
	.voteBox.sort5 h4,.voteBox.sort5 a{background-color:#b30d23;}
	.voteBox.sort5 p{color:#b30d23;}
	.voteBox.sort5 a:hover{background-color:#860B1B;}
	.voteBox.sort6 h4,.voteBox.sort6 a{background-color:#7f4f21;}
	.voteBox.sort6 p{color:#7f4f21;}
	.voteBox.sort6 a:hover{background-color:#4E3014;}
	.voteBox.sort7 h4,.voteBox.sort7 a{background-color:#00813a;}
	.voteBox.sort7 p{color:#00813a;}
	.voteBox.sort7 a:hover{background-color:#004A21;}
	.voteBox.sort8 h4,.voteBox.sort8 a{background-color:#e38800;}
	.voteBox.sort8 p{color:#e38800;}
	.voteBox.sort8 a:hover{background-color:#E33F00;}
	.voteBox.sort9 h4,.voteBox.sort9 a{background-color:#036ea8;}
	.voteBox.sort9 p{color:#036ea8;}
	.voteBox.sort9 a:hover{background-color:#025A8A;}
	/****/
	.voteBox.voted a,.voteBox.voted a:hover{
		background-color:#d3d3d3;color:#dfdfdf;
		cursor:default;
	}
	.voteBox.voted li a.voted{
		background:#aaa url(http://www.moviemovie.com.tw/img/event/vote/gh52/voted.png) 6px 4px no-repeat;
		background-size:18px 18px;
		padding-left:26px;
	}
	/****/
	.voteBox.sort1 li a.voted{background-color:#80b31f;}
	.voteBox.sort2 li a.voted{background-color:#25bcee;}
	.voteBox.sort3 li a.voted{background-color:#940b5d;}
	.voteBox.sort4 li a.voted{background-color:#e07aad;}
	.voteBox.sort5 li a.voted{background-color:#b30d23;}
	.voteBox.sort6 li a.voted{background-color:#7f4f21;}
	.voteBox.sort7 li a.voted{background-color:#00813a;}
	.voteBox.sort8 li a.voted{background-color:#e38800;}
	.voteBox.sort9 li a.voted{background-color:#036ea8;}
.voteBox h4:after{
	content:"";background-color:rgba(0,0,0,.3);
	display:block;width:100%;height: 3px;
	position:absolute;bottom: 0;left: 0;
}
.voteBox ul{width: 100%;margin-bottom: 23px;}
.voteBox li{
	background-color:#dfdfdf;
	width:18%;
	margin-right:2.5%;margin-bottom:15px;
	float:left;position:relative;
}
.voteBox.sort9 ul,.voteBox.sort9 li{margin-bottom:0;}
.voteBox li:nth-child(5){margin:0;}
.voteBox li.victor{
	border:solid 5px #ffc500;
}
.voteBox li.victor:before{
	content:"得獎者";font-size:12px;color:#000;text-align:center;letter-spacing:-1px;
	background:url(http://www.moviemovie.com.tw/img/event/vote/gh52/gold.png) -52px 0 no-repeat;background-size:100px 55px;
	display:block;width: 48px;height: 55px;
	padding-top:38px;
	position:absolute;left: -10px;top: -8px;
}
.voteBox.sort1 li.victor:before,.voteBox.sort9 li.victor:before{
	content:"得獎作品";
	background-position: 0 0;
	width: 52px;
	
}
.voteBox li > div{
	overflow:hidden;height:40px;
	padding:7px 5px;
}
	.voteBox li p{
		font-size:19px;font-weight:bold;line-height:26px;
		float:left;
	}
	.voteBox li a{
		background:#aaa;border-radius:3px;
		font-size:17px;color:#fff;
		display:block;line-height:26px;height:26px;
		padding:1px 10px 0;
		float:right;
	}
	.voteBox li a:hover{text-decoration: none;}
.voteBox li img{display: block;width: 100%;height: auto;}
.voteBox li h5{
	background:rgba(0,0,0,.5);
	color:#fff;font-size:12px;
	width:100%;
	padding:5px 6px;
	position:absolute;bottom:40px;
}
/******************************/
#msg,#forum,#news{
	border-bottom:#b7b7b7 solid 2px;
	background:rgba(255,255,255,.8);
	padding:13px;margin-bottom:15px;
}
#msg > h6,#forum > h6,#news > h6{
	background-color:#ff4f4f;
	color:#fff;font-size:15px;text-align:left;text-indent:13px;
	line-height:35px;width: 100%;
	margin-bottom: 5px;
	position:relative;
}
#msg > h6:after,#forum > h6:after,#news > h6:after{
	content:"";background-color:rgba(0,0,0,.4);
	display:block;width: 100%;height: 2px;
	position: absolute;bottom:0;left:0;
}
/**/
#forum{
	width:33.5%;margin-right:1.5%;
	float:left;
}
#forum h6{background:#ff4f4f;}
#forum .mmType4{border-bottom:none;}
#forum .mmType4 a:hover p,#forum .mmType4 a:hover span,
#forum .mmType4 a:hover h5{color:#ff4f4f;}
/**/
#news{
	width:65%;
	float:right;
}
#news .ll,#news .rr{width:49%;}
#news .ll{
	float:left;
}
#news .rr{
	float:right;
}
.mmNewsBox{
	border-bottom:none;
	width:100%;margin-right:0;margin-bottom:10px;
}
/*************************************/
.mmExpand{
	text-align:center;background-color: #ff9000;border-radius:5px;
	display:block;width: 100%;clear:both;
}
.mmExpand p{
	color:#fff;text-indent:20px;vertical-align:middle;
	display:inline-block;line-height:37px;
	position:relative;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-ms-transition:.3s;
}
.mmExpand p:before,.mmExpand p:after{
	display:block;content:'';
	width:0;height:0;
	border-left:solid 7px transparent;
	border-right:solid 7px transparent;
	position:absolute;left:0;
}
.mmExpand p:before{
	border-bottom:solid 5px #fff;top:13px;
}
.mmExpand p:after{
	border-top:solid 5px #fff;top:20px;
}
/**/
.mmExpand:hover{text-decoration: none;}
a.mmExpand:hover p{
	line-height:40px;color:#fff;
}
.mmExpand:hover p:before{
	opacity:0;
	-webkit-animation:UPUP .5s infinite;
	-moz-animation:UPUP .5s infinite;
	-ms-animation:UPUP .5s infinite;
}
.mmExpand:hover p:after{
	opacity:0;
	-webkit-animation:DWDW .5s infinite;
	-moz-animation:DWDW .5s infinite;
	-ms-animation:DWDW .5s infinite;
}
@-webkit-keyframes UPUP{0%{top:13px;}100%{top:10px;opacity:1;}}
@-webkit-keyframes DWDW{0%{top:20px;}100%{top:23px;opacity:1;}}
@-moz-keyframes UPUP{0%{top:13px;}100%{top:10px;opacity:1;}}
@-moz-keyframes DWDW{0%{top:20px;}100%{top:23px;opacity:1;}}
@-ms-keyframes UPUP{0%{top:13px;}100%{top:10px;opacity:1;}}
@-ms-keyframes DWDW{0%{top:20px;}100%{top:23px;opacity:1;}}
/****************/
.fixTop{
	border-radius: 5px;
	background: rgba(0,0,0,.7) url(http://www.moviemovie.com.tw/img/fourm.png) -4px -151px no-repeat;background-size: 1000px 500px;
	width: 40px;height: 40px;
	position: fixed;right: 2%;bottom: 60px;z-index: 10;	
}
.fixTop:hover{background-color:rgba(0,0,0,1);}
@media screen and (max-width:1000px){
	.wrapper{width: 100%;}
}
@media screen and (max-width:770px) and (min-width:471px){
	#menu a{width:17%;margin-bottom:10px;}
	#menu a:nth-last-child(-n+4){margin-bottom:0;}
	#menu a:nth-child(7){margin-right:0;}
	#menu span {height:110px;}
	/**/
	.voteBox li{width:32%;margin-right:2%;}
	.voteBox li:nth-child(3){margin-right:0;}
}
@media screen and (max-width:740px){
	#header div:first-child{font-size:16px;}
	/**/
	#forum{width:49%;}
	#news{width: 49%;}
	#news .ll,#news .rr{width: 100%;}
}
@media screen and (max-width:470px){
	#header{padding:8px 19px 39px;}
	#header img{display:none;}
	#header img.mobi{display:block;}
	#header div:first-child{font-size:13px;right:20px;bottom: 6px;}
	#header div:first-child a {font-size:15px;}
	/**/
	#header:before, #header:after, #menu:before, #menu:after {background-size:7px 23px;}
	#header:before, #menu:before {left: 7px;}
	#header:after, #menu:after {right:2px;}
	/**/
	#share{right:-2px;top:9px;}
	/**/
	#menu{padding:0;}
	#menu:before,#menu:after{display:none;}
	#menu p {font-size:12px;padding:3px 8px 8px;}
	#menu p b{font-size:15px;}
	/**/
	#menu a{
		font-size:12px;
		width:31%;height:34px;
		margin-bottom:5px;margin-right:2%;
	}
	#menu a:nth-child(5),#menu a:nth-child(8),#menu a:last-child{margin-right:0;}
	/****/
	#mainBody{padding: 7px;}
	/**/
	.voteBox h4{
		background-position:5px 4px;background-size:24px 25px;
		line-height:35px;
		padding-left: 35px;margin-bottom:10px;
	}
	/**/
	.voteBox li{width:48%;margin-right:2%;margin-bottom:12px;}
	.voteBox li:nth-child(2n){margin-right:0;}
	/**/
	#msg > h6, #forum > h6, #news > h6 {font-size:18px;line-height:45px;}
	#forum,#news{width: 100%;}
}
@media screen and (max-width: 400px){#mmBody .wrapper {padding:0 3%;}}
.clear{clear:both;}