.w12-sakura {
	font-size: 12px;
	color: #FF00FF;
	text-decoration: none;
}


.Menutd {
	line-height: 18px;
}
.summer {
	text-decoration: line-through;
}
.red12 {
	font-size: 12px;
	color: #FF0000;
	text-decoration: line-through;
}
